<div class="history-container">
    <a class="return-btn" href="javascript:history.go(-1)">
        <i class="ALiconfont icon-sortleft"></i>
        返回
    </a>
    <ul class="history-list">
        <li><a href="#index" ng-click="routerInit('flat')">公寓管理</a></li>
        <li><a href="#index">宿舍考评</a></li>
        <li>卫生打分</li>
    </ul>
</div>
<div ng-if="media.source == 0" class="date-bar">
    <div class="term" ng-click="media.setYear(-1)" ng-class="{'prev':media.getYear(-1).year && media.getYear(-1).year}">
        {{media.getYear(-1).year || '没有'}}
        <br>
        {{media.getYear(-1).term || '更早的学期'}}
        <i></i>
    </div>
    <div class="week-list">
        <ul ng-repeat="weeks in media.weekList || []">
            <li ng-repeat="week in weeks" ng-click="media.setWeek(week)" ng-class="{'active':week == media.week,'on':treeTerm[media.yearIndex].semesterList[media.termIndex].isCurrent && week == treeTerm[media.yearIndex].semesterList[media.termIndex].currentWeek}">
                第{{week}}周
            </li>
        </ul>
    </div>
    <div class="term" ng-click="media.setYear(1)" ng-class="{'next':media.getYear(1).year && media.getYear(1).year}">
        {{media.getYear(1).year || '没有'}}
        <br>
        {{media.getYear(1).term || '更多的学期'}}
        <i></i>
    </div>
</div>
<div ng-if="media.source == 1" class="date-bar">
    <div class="term prev" ng-click="media.setMonth(-1)" style="width:100px">
        {{media.getMonth(-1).year}}
        <br>
        {{media.getMonth(-1).month}}月
        <i></i>
    </div>
    <div class="week-list">
        <ul ng-repeat="weeks in media.weekList || []">
            <li ng-repeat="week in weeks" ng-click="media.setWeek(week)" ng-class="{'active':week.day == media.week.day &&week.month == media.week.month && week.year == media.week.year,'on':media.now(week)}">
                {{week.day}}日
            </li>
        </ul>
    </div>
    <div class="term next" ng-click="media.setMonth(1)" style="width:100px">
        {{media.getMonth(1).year}}
        <br>
        {{media.getMonth(1).month}}月
        <i></i>
    </div>
</div>
<div ng-if="media.source == 2" class="date-bar">
    <div class="term" ng-click="media.setYear(-1)" ng-class="{'prev':media.getYear(-1).year && media.getYear(-1).year}">
        {{media.getYear(-1).year || '没有'}}
        <br>
        {{media.getYear(-1).term || '更早的学期'}}
        <i></i>
    </div>
    <div class="week-list">
        <ul ng-repeat="weeks in media.weekList || []">
            <li ng-repeat="week in weeks" ng-click="media.setWeek(week)" ng-class="{'active':week.month == media.week.month && week.year == media.week.year,'on':media.now(week)}">
                {{week.month}}月
            </li>
        </ul>
    </div>
    <div class="term" ng-click="media.setYear(1)" ng-class="{'next':media.getYear(1).year && media.getYear(1).year}">
        {{media.getYear(1).year || '没有'}}
        <br>
        {{media.getYear(1).term || '更多的学期'}}
        <i></i>
    </div>
</div>
<div class="tool-bar" style="margin-left:225px;">
    <div class="bar-full" style="min-width:160px">
        {{ media.tab == 1 ? (flat.flatName||'请选择楼栋') : (media.campus?media.campus+'-' : '') + (media.liveArea?media.liveArea+'-' : '') +  media.title }}
    </div>
    <div class="progress-box" ng-hide="media.tab == 3">
        <div class="progress progress-xs">
            <div class="progress-bar progress-bar-success" style="width:{{(media.tab == 1 ? (flat.roomNumber - flat.notRoomNumber)/flat.roomNumber : (media.tab == 2? (rooms.roomNumber - rooms.notRoomNumber)/rooms.roomNumber : 0 )) * 100}}%"></div>
        </div>
    </div>
    <div class="progress-number" ng-hide="media.tab == 3">
        <span>{{media.tab == 1 ? flat.roomNumber - flat.notRoomNumber : (media.tab == 2? rooms.roomNumber - rooms.notRoomNumber : 0 )}}</span>/{{media.tab == 1 ? flat.roomNumber : (media.tab == 2 ? rooms.roomNumber : '')}}
    </div>
    <div class="grade-number" ng-hide="media.tab == 3">
        <span>{{media.tab == 1 ? flat.average : (media.tab == 2 ? rooms.average : '')}}</span>分
    </div>
</div>
<div class="page-main" style="top:150px;">
    <div class="page-tree" tree style="top:-50px;">
        <ul>
            <li class="open">
                <a ng-class="{'branch':treeFlat.cmpusList,'leaf':!treeFlat.cmpusList}">{{treeFlat.title}}</a>
                <ul ng-show="treeFlat.cmpusList">
                    <li class="open" ng-repeat="campus in treeFlat.cmpusList||[]">
                        <a ng-click="media.show(1,campus)" ng-class="{'branch':campus.liveAreaList,'leaf':!campus.liveAreaList}">{{campus.title}}</a>
                        <ul ng-show="campus.liveAreaList">
                            <li class="open" ng-repeat="liveArea in campus.liveAreaList||[]">
                                <a ng-click="media.show(2,liveArea ,campus)" ng-class="{'branch':liveArea.flatList,'leaf':!liveArea.flatList}">{{liveArea.title}}</a>
                                <ul ng-show="liveArea.flatList">
                                    <li ng-repeat="flat in liveArea.flatList||[]">
                                        <a class="leaf" ng-click="media.show(3,flat ,campus,liveArea)">{{flat.title}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="page-tabs" tabs style="left:225px">
        <ul class="page-tabs-nav">
            <li ng-if="(media.source==0 && menuCheck(63))||(media.source==1 && menuCheck(280))||(media.source==2 && menuCheck(283))" ng-class="{'active':media.tab == 1}" ng-click="media.setTab(1)">打分信息</li>
            <li ng-if="(media.source==0 && menuCheck(64))||(media.source==1 && menuCheck(281))||(media.source==2 && menuCheck(284))" ng-class="{'active':media.tab == 2}" ng-click="media.setTab(2)">打分查询</li>
            <li ng-if="(media.source==0 && menuCheck(65))||(media.source==1 && menuCheck(282))||(media.source==2 && menuCheck(285))" ng-class="{'active':media.tab == 3}" ng-click="media.setTab(3)">排行榜</li>
        </ul>
        <ul class="page-tabs-container">
            <li ng-if="(media.source==0 && menuCheck(63))||(media.source==1 && menuCheck(280))||(media.source==2 && menuCheck(283))" class="fadeIn animated active" ng-class="{'active':media.tab == 1}">
                <ul class="floor-list">
                    <li ng-repeat="floor in flat.floorList">
                        <div class="floor-title">
                            <div class="title-full">
                                {{floor.floorName}}
                            </div>
                            <div class="progress-box">
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-success" style="width:{{(floor.roomNumber - floor.notRoomNumber)/floor.roomNumber * 100}}%"></div>
                                </div>
                            </div>
                            <div class="progress-number">
                                <span>{{floor.roomNumber - floor.notRoomNumber}}</span>/{{floor.roomNumber}}
                            </div>
                            <div class="grade-number">
                                <span>{{floor.average}}</span>分
                            </div>
                        </div>
                        <ul class="room-list" ng-repeat="rooms in floor.roomList">
                            <li class="room-item" ng-repeat="room in rooms">
                                <div ng-class="{'graded':room.roomScoreId}">{{room.purpose?room.purpose:room.roomNum}}</div>
                                <ul>
                                    <li>
                                        <a ng-if="room.grade!=2" ng-class="{'fail':room.grade==-1}" ng-click="showCard('#gradeCard',cardMedia.dataInit(room))">
                                            {{room.roomScoreId?room.score:'尚未打分'}}
                                        </a>
                                        <a class="passed" ng-if="room.grade == 2">
                                            免
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li ng-if="(media.source==0 && menuCheck(64))||(media.source==1 && menuCheck(281))||(media.source==2 && menuCheck(284))" class="fadeIn animated" ng-class="{'active':media.tab == 2}">
                <div class="search-bar">
                    <!--div>
                        <select class="form-control">
                            <option>生活区</option>
                        </select>
                    </div>
                    <div>
                        <select class="form-control">
                            <option>楼栋</option>
                        </select>
                    </div>
                    <div>
                        <select class="form-control">
                            <option>楼层</option>
                        </select>
                    </div-->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{media.search==1?'姓名':(media.search==2?'寝室号':'学号')}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="min-width:66px">
                            <li ng-click="media.search=2"><a>寝室号</a></li>
                            <li ng-click="media.search=0"><a>学号</a></li>
                            <li ng-click="media.search=1"><a>姓名</a></li>
                        </ul>
                    </div>
                    <div class="bar-full">
                        <form ng-submit="media.setSearch(searchText)" class="input-group search-bool">
                            <input type="text" class="form-control" placeholder="检索" ng-model="searchText">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </span>
                        </form>
                    </div>
                    <div>
                        <a ng-click="media.downloadGrade()" class="btn btn-default">数据导出</a>
                    </div>
                </div>
                <div class="table-container" style="top:50px;bottom:50px;background-color:#fff;">
                    <table class="table table-striped middle">
                        <thead>
                            <tr>
                                <th class="sort">校区</th>
                                <th class="sort">生活区</th>
                                <th class="sort">楼栋</th>
                                <th class="sort">宿舍号</th>
                                <th>床号</th>
                                <th>学生</th>
                                <th>分数</th>
                                <th class="sort sort-down">总分</th>
                                <th>查看</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            <tr ng-repeat="room in rooms.roomList || []">
                                <td>{{room.campusName}}</td><td>{{room.liveAreaNmae}}</td><td>{{room.flatName}}</td><td>{{room.roomName}}</td>
                                <td class="multi"><ul>
                                    <li ng-repeat="bed in room.bedList">{{bed.bedName}}</li>   
                                </ul></td>
                                <td class="multi"><ul>
                                    <li ng-repeat="bed in room.bedList">{{bed.name + '（' + bed.studentNumber + '）'}}</li>
                                </ul></td>
                                <td class="multi"><ul>
                                    <li ng-repeat="bed in room.bedList">{{bed.bedScore}}</li>  
                                </ul></td>
                                <td>{{room.score}}</td>
                                <td><a class="btn btn-link btn-xs" ng-click="showCard('#gradeCard',cardMedia.dataInit(room))">详情</a></td>
                            </tr>
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="10" ng-hide="media.recordCount" class="empty">没有检索到相关打分纪录</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="page-controller">
                    <div class="page-number">
                        <ul class="pagination">
                            <li ng-class="{disabled:media.epage<2}">
                                <a aria-label="Previous" ng-click="media.setPage(-1)">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li ng-show="media.epage-2>0"><a ng-click="media.setPage(-2)">{{media.epage-2}}</a></li>
                            <li ng-show="media.epage-1>0"><a ng-click="media.setPage(-1)">{{media.epage-1}}</a></li>
                            <li class="active"><a>{{media.epage}}</a></li>
                            <li ng-show="media.epage+1<=media.pageCount"><a ng-click="media.setPage(1)">{{media.epage+1}}</a></li>
                            <li ng-show="media.epage+2<=media.pageCount"><a ng-click="media.setPage(2)">{{media.epage+2}}</a></li>
                            <li ng-class="{disabled:media.epage>=media.pageCount}">
                                <a aria-label="Next" ng-click="media.setPage(1)">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-size">
                        共{{media.recordCount}}条记录，每页显示
                        <div class="btn-group dropup">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{media.pagesize}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" style="min-width:54px">
                                <li ng-click="media.media.setPageSize(10)"><a>10</a></li>
                                <li ng-click="media.setPageSize(20)"><a>20</a></li>
                                <li ng-click="media.setPageSize(30)"><a>30</a></li>
                                <li ng-click="media.setPageSize(50)"><a>50</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li ng-if="(media.source==0 && menuCheck(65))||(media.source==1 && menuCheck(282))||(media.source==2 && menuCheck(285))" class="fadeIn animated" ng-class="{'active':media.tab == 3}">
                <div class="search-bar">
                    <div class="bar-full">
                        <div class="btn-group" role="group" ng-show="media.flatid1">
                            <button type="button" class="btn" ng-click="media.setRule(0)" ng-class="{'btn-primary':!media.tobed,'btn-default':media.tobed}">宿舍</button>
                            <button type="button" class="btn" ng-click="media.setRule(1)" ng-class="{'btn-primary':media.tobed,'btn-default':!media.tobed}">床位</button>
                        </div>
                    </div>
                    <div>
                        <a ng-click="media.downloadGrade()" class="btn btn-default">数据导出</a>
                    </div>
                </div>
                <div class="table-container" style="top:50px;background-color:#fff;">
                    <table class="table table-striped">
                        <thead>
                            <th>排序</th><th>校区</th><th>生活区</th><th>楼栋</th>
                            <th ng-show="media.type==3">宿舍</th>
                            <th ng-show="media.tobed && media.type==3">床位</th><th>分数</th>
                            <th ng-hide="media.type<3">操作</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in topList.dataList">
                                <td>{{$index + (media.epage - 1) * media.pagesize + 1}}</td>
                                <td>{{item.campusName}}</td>
                                <td>{{item.liveAreaNmae}}</td>
                                <td>{{item.flatName}}</td>
                                <td ng-show="media.type==3">{{item.roomName}}</td>
                                <td ng-show="media.tobed && media.type==3">{{item.bedName}}</td>
                                <td>{{item.score}}</td>
                                <td ng-hide="media.type<3"><a class="btn btn-link btn-xs" ng-click="showCard('#gradeCard',cardMedia.dataInit(item))">详情</a></td></tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="10" ng-hide="media.recordCount" class="empty">暂无排行榜信息</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="page-controller">
                    <div class="page-number">
                        <ul class="pagination">
                            <li ng-class="{disabled:media.epage<2}">
                                <a aria-label="Previous" ng-click="media.setPage(-1)">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li ng-show="media.epage-2>0"><a ng-click="media.setPage(-2)">{{media.epage-2}}</a></li>
                            <li ng-show="media.epage-1>0"><a ng-click="media.setPage(-1)">{{media.epage-1}}</a></li>
                            <li class="active"><a>{{media.epage}}</a></li>
                            <li ng-show="media.epage+1<=media.pageCount"><a ng-click="media.setPage(1)">{{media.epage+1}}</a></li>
                            <li ng-show="media.epage+2<=media.pageCount"><a ng-click="media.setPage(2)">{{media.epage+2}}</a></li>
                            <li ng-class="{disabled:media.epage>=media.pageCount}">
                                <a aria-label="Next" ng-click="media.setPage(1)">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-size">
                        共{{media.recordCount}}条记录，每页显示
                        <div class="btn-group dropup">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{media.pagesize}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" style="min-width:54px">
                                <li ng-click="media.setPageSize(10)"><a>10</a></li>
                                <li ng-click="media.setPageSize(20)"><a>20</a></li>
                                <li ng-click="media.setPageSize(30)"><a>30</a></li>
                                <li ng-click="media.setPageSize(50)"><a>50</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
</div>
<!--  -->
<div class="info-card fadeIn animated" id="gradeCard" ng-class="{'grade-simple':media.tab>1 || !((media.source==0 && menuCheck(191))||(media.source==1 && menuCheck(289))||(media.source==2 && menuCheck(296)))}" info-card>
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        {{cardMedia.item.roomNum}}寝室打分页 
                        <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                    </div>
                    <div class="panel-body grade-panel">
                        <div class="page-tabs" tabs>
                            <ul class="page-tabs-nav">
                                <li ng-if="(media.source==0 && menuCheck(188))||(media.source==1 && menuCheck(286))||(media.source==2 && menuCheck(293))" ng-click="cardMedia.setTab(1)" ng-class="{'active':cardMedia.tab ==1}">寝室分</li>
                                <li ng-if="switch.bed && ((media.source==0 && menuCheck(189))||(media.source==1 && menuCheck(287))||(media.source==2 && menuCheck(294)))" ng-click="cardMedia.setTab(2)" ng-class="{'active':cardMedia.tab ==2}">床位分</li>
                                <li ng-if="switch.photo && ((media.source==0 && menuCheck(190))||(media.source==1 && menuCheck(288))||(media.source==2 && menuCheck(295)))" ng-click="cardMedia.setTab(3)" ng-class="{'active':cardMedia.tab ==3}">照片</li>
                                <li ng-if="switch.role && ((media.source==0 && menuCheck(265))||(media.source==1 && menuCheck(290))||(media.source==2 && menuCheck(297)))" ng-click="cardMedia.setTab(4)" ng-class="{'active':cardMedia.tab ==4}">寝室违章</li>
                            </ul>
                            <ul class="page-tabs-container grade-container grade-tool-on" >
                                <li ng-if="(media.source==0 && menuCheck(188))||(media.source==1 && menuCheck(286))||(media.source==2 && menuCheck(293))" class="fadeIn animated" ng-class="{'active':cardMedia.tab ==1}">
                                    <table class="table table-bordered bg-white">
                                        <thead>
                                            <tr><th>序号</th><th>打分项目</th><th>打分</th></tr>
                                        </thead>
                                        <tbody ng-repeat="category in cardMedia.room || []">
                                            <tr><th>{{category.typeName || category.title}}</th><th></th><th></th></tr>
                                            <tr ng-repeat="item in category.itemList || category.subNodes">
                                                <td>{{item.number || ($index+1)}}</td>
                                                <td>{{item.title + (item.standardType?'':('（' +  (item.maxScore||item.fullMark||0) + '）'))}}</td>
                                                <td class="grade-handle">
                                                    <div>
                                                        <div ng-if="item.score>-1" ng-click="cardMedia.grade(-1,item)"><i class="ALiconfont icon-minus3"></i></div>
                                                        <div ng-click="cardMedia.grade(0,item)" ng-class="{'minuses':(item.score>-1 && item.score<(item.maxScore||item.fullMark)),'pass':item.score==-1,'fail':item.score==-2}">{{item.score>-1?item.score:''}}</div>
                                                        <div ng-if="item.score>-1" ng-click="cardMedia.grade(1,item)"><i class="ALiconfont icon-plus3"></i></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="10" ng-show="category.itemList.length < 1" class="empty">没有打分记录</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="10" ng-hide="cardMedia.room" class="start" style="height:300px">加载中..</td>
                                            </tr>
                                            <tr>
                                                <td colspan="10" ng-show="cardMedia.room && cardMedia.room.length < 1" style="height:300px" class="empty">没有记录</td>
                                            </tr>
                                        </tfoot>
                                        <tfoot ng-show="cardMedia.room && cardMedia.room.length > 0 "">
                                            <tr><td></td><td>总计</td><td class="grade-number">{{cardMedia.getSum()}}</td></tr>
                                        </tfoot>
                                    </table>
                                </li>
                                <li ng-if="switch.bed && ((media.source==0 && menuCheck(189))||(media.source==1 && menuCheck(287))||(media.source==2 && menuCheck(294)))" class="fadeIn animated" ng-class="{'active':cardMedia.tab ==2}">
                                    <table class="table table-bordered bg-white">
                                        <thead>
                                            <tr><th>序号</th><th>打分项目</th><th>打分</th></tr>
                                        </thead>
                                        <tbody ng-repeat="bed in cardMedia.bed">
                                            <tr><th>{{bed.bedName || bed.bedNum}}</th><th> -{{bed.studentName + '（' + bed.studentNumber + '）'}}</th><th class="grade-number">{{cardMedia.getBedSum(bed)}}</th></tr>
                                            <tr ng-repeat="item in bed.itemList">
                                                <td>{{item.number || ($index + 1)}}</td><td>{{item.title + (item.standardType?'':('（' + item.maxScore||0 + '）'))}}</td>
                                                <td class="grade-handle">
                                                    <div>
                                                        <div ng-if="item.score>-1" ng-click="cardMedia.grade(-1,item)"><i class="ALiconfont icon-minus3"></i></div>
                                                        <div ng-click="cardMedia.grade(0,item)" ng-class="{'minuses':(item.score>-1 && item.score<(item.maxScore||item.fullMark)),'pass':item.score==-1,'fail':item.score==-2}">{{item.score>-1?item.score:''}}</div>
                                                        <div ng-if="item.score>-1" ng-click="cardMedia.grade(1,item)"><i class="ALiconfont icon-plus3"></i></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="10" ng-show="bed.itemList.length < 1" class="empty">{{media.item.bedScoreId?'没有打分记录':'没有设置床位打分项'}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="10" ng-hide="cardMedia.bed" class="start" style="height:300px">加载中..</td>
                                            </tr>
                                            <tr>
                                                <td colspan="10" ng-show="cardMedia.bed && cardMedia.bed.length < 1" style="height:300px" class="empty">没有记录</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </li>
                                <li ng-if="switch.photo && ((media.source==0 && menuCheck(190))||(media.source==1 && menuCheck(288))||(media.source==2 && menuCheck(295)))" class="fadeIn animated" ng-class="{'active':cardMedia.tab ==3}">
                                    <div class="album" album>
                                        <ul>
                                            <li class="album-item" ng-repeat="img in cardMedia.img">
                                                <i class="ALiconfont icon-trash" ng-click="cardMedia.imgDel($index)"></i>
                                                <img ng-if="img.picUrl" ng-src="{{img.picUrl}}" err-src="http://7xp0c4.com2.z0.glb.qiniucdn.com/default.png"/>
                                                <p>{{img.checkTime}}</p>
                                            </li>
                                            <li class="album-plus" input-file change="uploadImg()" ng-hide="media.tab>1 || !menuCheck(191)"><span class="ALiconfont icon-plus3"></span></li> 
                                        </ul>
                                        <div class="album-frame" style="bottom:50px;top:40px;">
                                            <div>
                                                <i class="ALiconfont icon-info"></i>
                                            </div>
                                        </div>
                                        <div class="album-frame-off" style="top:50px;"><i class="ALiconfont icon-close"></i></div>
                                        <div class="album-empty" ng-show="(media.tab>1 || !menuCheck(191)) && cardMedia.img.length < 1">没有照片上传记录</div>
                                    </div>
                                </li>
                                <li ng-if="switch.role && ((media.source==0 && menuCheck(265))||(media.source==1 && menuCheck(290))||(media.source==2 && menuCheck(297)))" class="fadeIn animated" style="min-height:300px" ng-class="{'active':cardMedia.tab ==4}">
                                    <table class="table table-bordered bg-white">
                                        <tbody>
                                            <tr>
                                                <td style="min-width:100px">寝室违章</td>
                                                <td class="rule-handle">
                                                    <ul>
                                                        <li class="rule-item" ng-repeat="item in cardMedia.rule.itemList" ng-click="cardMedia.removeRule(cardMedia.rule.itemList,$index)">{{item.itemName}}</li>
                                                        <li ng-if="media.tab==1" class="dropdown">
                                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                                <li ng-repeat="rule in rules || []" ng-class="{'dropdown-header':!rule.fid}">
                                                                    <a ng-if="rule.fid" ng-click="cardMedia.addRule(cardMedia.rule.itemList,rule)">{{rule.title}}</a>
                                                                    <span ng-if="!rule.fid">{{rule.title}}</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="bed in cardMedia.rule.bedList || []">
                                                <td style="min-width:100px">{{bed.bedName + '-' + bed.name + '（' + bed.studentNumber + '）'}}</td>
                                                <td class="rule-handle">
                                                    <ul>
                                                        <li class="rule-item" ng-repeat="item in bed.itemList" ng-click="cardMedia.removeRule(bed.itemList,$index)">{{item.itemName}}</li>
                                                        <li ng-if="media.tab==1" class="dropdown">
                                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                                <li ng-repeat="rule in rules|| []" ng-class="{'dropdown-header':!rule.fid}">
                                                                    <a ng-if="rule.fid" ng-click="cardMedia.addRule(bed.itemList,rule)">{{rule.title}}</a>
                                                                    <span ng-if="!rule.fid">{{rule.title}}</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="10" ng-hide="cardMedia.rule" class="start" style="height:300px">加载中..</td>
                                            </tr>
                                            <tr>
                                                <td colspan="10" ng-show="cardMedia.rule && cardMedia.rule.length < 1" style="height:300px" class="empty">没有记录</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </li>
                            </ul>
                        </div>
                        <div class="grade-tool-bar">
                            <div>
                                <a class="btn" ng-click="cardMedia.setTab(cardMedia.tab-1)" ng-class="{'btn-default disabled':cardMedia.tab-1<1,'btn-stroke btn-info':cardMedia.tab-1>0}"><i class="ALiconfont icon-sortleft"></i></a>
                            </div>
                            <div>
                                <a ng-if="media.tab==1 && ((media.source==0 && menuCheck(191))||(media.source==1 && menuCheck(289))||(media.source==2 && menuCheck(296)))" class="btn btn-info" ng-click="cardMedia.gradeSave(closeCard('#gradeCard'))">保存并关闭</a>
                            </div>
                            <div>
                                <a class="btn" ng-click="cardMedia.setTab(cardMedia.tab+1)" ng-class="{'disabled btn-default':cardMedia.tab+1>4,'btn-stroke btn-info':cardMedia.tab+1<5}"><i class="ALiconfont icon-sortright"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>