<div class="history-container">
    <a class="return-btn" href="javascript:history.go(-1)">
        <i class="ALiconfont icon-sortleft"></i>
        返回
    </a>
    <ul class="history-list">
        <li><a href="#index" ng-click="routerInit('flat')">公寓管理</a></li>
        <li><a href="#index">宿舍考评</a></li>
        <li>违章统计</li>
    </ul>
</div>
<div class="tool-bar" style="margin-left:225px;">
    <div class="bar-full" style="min-width:160px">
        {{media.title}} 违章统计
    </div>
    <div ng-if="media.type == 3">
        寝室总数：{{flat.roomNumber}}
        未违章寝室：{{flat.notRoomNumber}}
        累计：<span style="color:#f33">{{flat.total}}</span>次
    </div>
    <div ng-if="media.type != 3">
        累计：<span style="color:#f33">{{media.getTotal()}}</span>次
    </div>
</div>
<div class="page-main" style="top:100px;">
    <div class="page-tree" tree style="top:-50px;">
        <ul>
            <li class="open">
                <a ng-click="show(0,treeFlat)" ng-class="{'branch':treeFlat.cmpusList,'leaf':!treeFlat.cmpusList}">{{treeFlat.title}}</a>
                <ul ng-show="treeFlat.cmpusList">
                    <li class="open" ng-repeat="campus in treeFlat.cmpusList||[]">
                        <a ng-click="show(1,campus)" ng-class="{'branch':campus.liveAreaList,'leaf':!campus.liveAreaList}">{{campus.title}}</a>
                        <ul ng-show="campus.liveAreaList">
                            <li class="open" ng-repeat="liveArea in campus.liveAreaList||[]">
                                <a ng-click="show(2,liveArea,campus.title)" ng-class="{'branch':liveArea.flatList,'leaf':!liveArea.flatList}">{{liveArea.title}}</a>
                                <ul ng-show="liveArea.flatList">
                                    <li ng-repeat="flat in liveArea.flatList||[]">
                                        <a class="leaf" ng-click="show(3,flat,campus.title,liveArea.title)">{{flat.title}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="from-container" style="left:225px">
        <form class="tool-bar" style="border-bottom:1px solid #dfe0e0" ng-submit="media.sub()">

            <div>
                <input type="text" class="form-control" ng-model="media.starttime" datepicker>
            </div>
            <div>至</div>
            <div>
                <input type="text" class="form-control" ng-model="media.endtime" datepicker>
            </div>
            <div>
                <button type="submit" class="btn btn-icon btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        </form>
       
        <div class="page-tabs" tabs style="top:50px;">
            <ul class="page-tabs-nav">
                <li class="active" ng-click="media.setTab(1)">违章查询</li>
                <li ng-click="media.setTab(2)">违章统计</li>
            </ul>
            <ul class="page-tabs-container" style="background-color:#fff">
                <li class="fadeIn animated active">
                    <ul ng-show="media.type==3" class="floor-list">
                        <li ng-repeat="floor in flat.floorList">
                            <div class="floor-title">
                                <div class="title-full">
                                    {{floor.floorName}}
                                </div>
                                <div class="progress-number">
                                    <span>{{floor.notRoomNumber}}</span>/{{floor.roomNumber}}
                                </div>
                                <div>
                                    累计：<span style="color:#f33">{{floor.total}}</span>次
                                </div>
                            </div>
                            
                            <ul class="room-list" ng-repeat="rooms in floor.roomList">
                                <li class="room-item" ng-repeat="room in rooms">
                                    <div>{{room.roomNum}}</div>
                                    <ul>
                                        <li><a ng-click="showCard('#detail',loadInfo(room))"> 
                                            {{room.total}} </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div ng-show="list && media.type<3" class="table-container">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>校区</th>
                                    <th ng-show="media.type>0">生活区</th>
                                    <th ng-show="media.type>1">楼栋</th>
                                    <th>违章数</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white">
                                <tr ng-repeat="item in list || []">
                                    <td>{{item.campusName}}</td>
                                    <td ng-show="media.type>0">{{item.liveAreaNmae}}</td>
                                    <td ng-show="media.type>1">{{item.flatName}}</td>
                                    <td>{{item.total}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="10" ng-hide="list && list.length>0" class="empty">没有统计到相关数据</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </li>
                <li class="fadeIn animated">
                    <div id="mychart" chart style="height:300px;border-bottom:1px solid #dfe0e0"></div>
                    <div class="tool-bar" style="background:#f6f7f8">
                        <div>
                            <a class="btn btn-default" ng-click="download()">下载表格</a>
                        </div>
                    </div>
                    <div class="table-container" style="top:350px">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>时间</th>
                                    <th>累计违章数</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white">
                                <tr ng-repeat="item in media.data">
                                    <td>{{item.date}}</td>
                                    <td>{{item.total}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="10" ng-hide="media.data && media.data.length>0" class="empty">没有统计到相关数据</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
        
    </div>
</div>
<div class="info-card fadeIn animated" id="detail" info-card>
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        寝室违章详记录
                        <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                    </div>
                    <div class="panel-body">
                        <div id="roomChart" chart="roomChart" style="height:300px;border-bottom:1px solid #dfe0e0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>