<div class="history-container">
    <a class="return-btn" href="javascript:history.go(-1)">
        <i class="ALiconfont icon-sortleft"></i>
        返回
    </a>
    <ul class="history-list">
        <li><a href="#index" ng-click="routerInit('data')">公寓管理</a></li>
        <li><a href="#index">基础设置</a></li>
        <li>学期周数设置</li>
    </ul>
</div>
<div class="page-main" style="top:49px;">
    <div class="page-tree" tree>
        <ul>
            <li ng-repeat="item1 in tree">
                <a ng-class="{'branch':item1.list,'leaf':!item1.list}">{{item1.name}}</a>
                <ul ng-show="item1.list">
                    <li ng-repeat="item2 in item1.list||[]">
                        <a ng-class="{'branch':item2.list,'leaf':!item2.list}">{{item2.name}}</a>
                        <ul ng-show="item2.list">
                            <li ng-repeat="item3 in item2.list||[]">
                                <a ng-class="{'branch':item3.list,'leaf':!item3.list}">{{item3.name}}</a>
                            </li>
                            <li><a class="add"><i class="ALiconfont icon-plus1"></i> 添加学期</a></li>
                        </ul>
                    </li>
                    <li><a class="add"><i class="ALiconfont icon-plus1"></i> 添加学年</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="from-container" style="left:225px;">
        <table class="table-form table-bordered bg-white">
            <tr>
                <td class="require" width="200">学年</td><td><input type="text" /></td>
            </tr>
            <tr>
                <td class="require" width="200">学期</td><td><input type="text" /></td>
            </tr>
            <tr>
                <td class="require" width="200">学期时间</td><td><input type="text" datepicker /> 至 <input datepicker type="text" /> </td>
            </tr>
            <tr>
                <td class="require" width="200">学期类型</td><td><input type="text" /></td>
            </tr>
            <tr>
                <td class="require" width="200">当前周</td><td><input type="text" /></td>
            </tr>
            <tr>
                <td class="require" width="200">当前学期</td><td><input type="text" /></td>
            </tr>
            <tr>
                <td></td><td>
                    <button class="btn btn-success">提交</button>
                    <button class="btn btn-info">保存</button>
                    <button class="btn btn-default">取消</button>
                    <button class="btn btn-danger">删除</button>
                </td>
            </tr>
            
        </table>
    </div>
</div>
