.page-aside{
    ul{
        li{
            height: 50px;
            line-height: 50px;
            padding-left: 10px;
            
            a{
                display: block;
                color: #777;
                i{
                    font-size: 23px;
                    display: inline-block;
                    width:30px;
                    height: 30px;
                    line-height: 30px;
                    border-radius: 30px;
                    text-align: center;
                    margin:0 10px;
                }
            }
            &:hover{
                background-color: #d3e7f6;
            }
            &.active{
                background-color: #cce4f7;
                border-left: 3px solid #008cee;
                padding-left: 7px;
                a{
                    i{
                        background-color: #008cee;
                        color: #d3e7f6;
                    }
                }
            }
        }
    }
    
}