@charset "utf-8";
.info-card .info-card-wrapper .info-card-dialog .panel-body .page-tabs-container.grade-container{
    padding:0;
    padding-bottom: 20px;
    background-color: #f6f7f8;
    &.grade-tool-on{
         margin-bottom: 50px;
    }
    table 
    {
        th,td{
            vertical-align: middle;
            &:first-of-type,&:last-of-type{
                text-align: center;
            }
            &.grade-number{
                color:#2772ee;
                font-size: 18px;
                text-align: center;
            }
        }
        th{
            background-color: #f6f7f8;
            font-weight: normal;
        }
        tbody 
        {
            th{
                padding:0;
                border-bottom-color:#fff;
            }
        }
    }
    .grade-handle{
        padding:2px 0;
        &>div{
            width: 180px;
            display: box;
            display: -webkit-box;
            display: flex;
            display: -webkit-flex;
            padding:0 10px;
            margin:0 auto;
            div{
                margin:0 5px;
                border:1px solid #dfe0e0;
                border-radius: 5px;
                height: 30px;
                line-height: 28px;
            }
            &>div:first-of-type,&>div:last-of-type{
                width: 30px;
                font-size: 20px;
                cursor: pointer;
                i{
                    position: relative;
                    top:-2px;
                    left:.5px;
                    font-size: 13px;
                }
                &:hover{
                    background-color: rgb(242,242,242);
                }
            }
            &>div:nth-of-type(2){
                -webkit-box-flex:1;
                box-flex:1;
                flex:1;
                -webkit-flex: 1;
            }
            div.minuses{
                color: #f33;
            }
            div.fail,div.pass{
                margin: 0 auto;
            }
            div.pass::before{
                font-family:"ALiconfont" !important;
                font-size:16px;font-style:normal;
                -webkit-font-smoothing: antialiased;
                -webkit-text-stroke-width: 0.2px;
                -moz-osx-font-smoothing: grayscale;
                content: '\e686';
                font-size: 20px;
            }
            div.fail::before{
                font-family:"ALiconfont" !important;
                font-size:16px;font-style:normal;
                -webkit-font-smoothing: antialiased;
                -webkit-text-stroke-width: 0.2px;
                -moz-osx-font-smoothing: grayscale;
                content: '\e687';
                color: #f33;
            }
        }
    }
    .rule-handle{
        &>ul>li{
            display: inline-block;
            color: #f33;
            margin:5px;
            &.rule-item{
                border: 1px solid #f33;
                padding:4px 7.5px;
                border-radius: 5px;
                cursor: pointer;
            }
            .btn{
                padding:4px 7.5px;
                border-radius: 5px;
            }
            .btn::before{
                font-family:"ALiconfont" !important;
                font-size:16px;font-style:normal;
                -webkit-font-smoothing: antialiased;
                -webkit-text-stroke-width: 0.2px;
                -moz-osx-font-smoothing: grayscale;
                content: "\e671";
                font-size: 13px;
            }
            .dropdown-menu{
                    right:0;left: auto;
                }
            &:first-of-type{
                .btn{
                    padding:0px 4px;
                }
                .btn::before{
                    content: '\e686';
                    font-size: 20px;
                }
                .dropdown-menu{
                    left:0;right: auto;
                }
            }
        }
    }
}
.info-card.grade-simple .info-card-wrapper .info-card-dialog .panel-body .page-tabs-container.grade-container{
    .grade-handle>div{
        div{
            border-color: transparent;
        }
        &>div:first-of-type,&>div:last-of-type{
            display: none;
        }
    }
    .rule-item{
        cursor: default;
    }
}
.info-card .info-card-wrapper .info-card-dialog .panel-body.grade-panel{
    position: relative;
    
    .grade-tool-bar{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0 10px;
        height: 50px;
        line-height: 50px;
        border-top:1px solid #dfe0e0;
        background-color: #fff;
        display: box;
        display: -webkit-box;
        display: flex;
        display: -webkit-flex;
        box-align:center ;
        -webkit-box-align:center;
        -moz-box-align:center;
        -ms-box-align:center;
        align-items:center ;
        -webkit-align-items:center;
        &>div:nth-of-type(2){
            -webkit-box-flex:1;
            box-flex:1;
            flex:1;
            -webkit-flex: 1;
            text-align: center;
            a{
                width: 200px;
                padding:9px 12px;
            }
        }
        a{
            display: block;
            border-radius:5px;
            margin:0 auto;
        }
    }
}