.history-container{
    padding: 10px;
    background-color:#fff;
    border-bottom:1px solid #dfe0e0;
    a.return-btn{
        color: #777;
        float: left;
        border-right: 1px solid #888;
        padding-right:20px; 
        font-size: 13px;
        i{
            font-size: 18px;
        }
    }
    ul.history-list{
        overflow: hidden;
        padding-left: 20px;
        li{
            float: left;
            height: 25px;
            line-height: 25px;
            margin-left: 5px;
            a{
                color: #777;
                display: block;
                &:hover{
                    color: #aaa;
                }
                &::after{
                    font-family: "ALiconfont" !important;
                    font-size: 16px;
                    font-style: normal;
                    -webkit-font-smoothing: antialiased;
                    -webkit-text-stroke-width: 0.2px;
                    -moz-osx-font-smoothing: grayscale;
                    content: " \e62f ";
                    font-size: 13px;
                }
                &:hover::after{
                    color: #777;
                }
            }
            &:last-of-type a::after{
                content:" ";
            }
        }
        
    }
}
.tool-bar{
    padding: 10px;
    display: box;
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
    .search-bool{
        max-width: 300px;
    }
    .group-tool{
        padding: 0 10px;
    }
    div:first-of-type{
        -webkit-box-flex:1;
        box-flex:1;
        flex:1;
        -webkit-flex: 1;
    }
}
.page-main{
    position: absolute;
    left: 0;
	top:102px;
	bottom: 0;
    right: 0;
    background-color: #fff;
    border-top:1px solid #dfe0e0;
    .table-container{
        position: absolute;
        left: 225px;
        top:0;
        bottom: 0;
        right: 0;
        overflow-y: auto;
        padding-bottom: 35px;
    }
    .page-controller{
        position:absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f6f7f8;
        border-top:1px solid #dfe0e0;
        display: box;
        display: -webkit-box;
        display: flex;
        display: -webkit-flex;
        height: 54px;
        line-height: 54px;
        .pagination{
            margin:10px;
        }
        .page-number{
            -webkit-box-flex:1;
            box-flex:1;
            flex:1;
            -webkit-flex: 1;
        }
        .page-size{
            padding-right: 10px;
        }
    }
}
.page-tree{
    background-color: #fff;
    border-right:1px solid #dfe0e0;
    box-sizing: border-box;
    width: 225px;
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    a{
        display: block;
        padding:5px;
        color: #666;
        &:hover{
            background-color: rgba(222,222,222,.4);
            color: #155aba;
        }
        &.active{
            background-color: rgba(222,222,222,.2);
        }
        &.branch::before{
            padding-right: 5px;
            font-family:"ALiconfont" !important;
            font-size:16px;
            font-style:normal;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;
            content: "\e653 ";
        }
    }
    &>ul{
        ul{
            display: none;
        }
        li>{
            a{
                padding-left:20px;
            }
            ul>li{
                a{
                    padding-left:40px;
                }
                ul>li{
                    a{
                        padding-left:60px;
                    }
                    ul>li{
                        a{
                            padding-left:80px;
                        }
                        ul>li{
                            a{
                                padding-left:100px;
                            }
                        }
                    }
                }
            }
        }
    }
    li.open>a::before{
        content: "\e652 ";
    }
    li.open>ul{
        display: block;
    }
}
table{
    .sort,.sort-up,.sort-down{
        cursor: pointer;
        &::after{
            font-family: "ALiconfont" !important;
            font-size: 16px;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;
            color: #666;
        }
    }
    .sort::after{
        content: "\e622";
        color: #ccc;
    }
    .sort-up::after{
        content: "\e621";
    }
    .sort-down::after{
        content: "\e620";
        position: relative;
        bottom: 3px;
    }
}