@charset "utf-8";
.history-container{
    padding: 12px 10px;
    background-color:#fff;
    border-bottom:1px solid #dfe0e0;
    a.return-btn{
        color: #777;
        float: left;
        border-right: 1px solid #888;
        padding-right:20px; 
        font-size: 13px;
        i{
            font-size: 18px;
        }
    }
    ul.history-list{
        overflow: hidden;
        padding-left: 20px;
        li{
            float: left;
            height: 25px;
            line-height: 25px;
            margin-left: 5px;
            a{
                color: #777;
                display: block;
                &:hover{
                    color: #aaa;
                }
                &::after{
                    font-family: "ALiconfont" !important;
                    font-size: 16px;
                    font-style: normal;
                    -webkit-font-smoothing: antialiased;
                    -webkit-text-stroke-width: 0.2px;
                    -moz-osx-font-smoothing: grayscale;
                    content: " \e62f ";
                    font-size: 13px;
                }
                &:hover::after{
                    color: #777;
                }
            }
            &:last-of-type a::after{
                content:" ";
            }
        }
        
    }
}
.tool-bar{
    height: 50px;
    padding:0 5px;
    display: box;
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
    box-align:center ;
    -webkit-box-align:center;
    -moz-box-align:center;
    -ms-box-align:center;
    align-items:center ;
    -webkit-align-items:center;
    position: relative;
    z-index: 10;
    .search-bool{
        max-width: 300px;
    }
    div.bar-full{
        box-flex:1;-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;
        flex:1;-webkit-flex:1;
    }
    &>div{
        padding:0 5px;
    }
    .progress-box{
        width: 200px;
        padding-right: 10px;
        .progress{
            margin-bottom: 0;
        }
    }
    .progress-number{
        padding-right: 10px;
        span{
            color: #4bb622;
        }
    }
    .grade-number span{
        color: #2772ee;
    }
}

.page-main{
    position: absolute;
    left: 0;
	top:100px;
	bottom: 0;
    right: 0;
    background-color: #fff;
    border-top:1px solid #dfe0e0;
    /*表格布局容器,tabs布局 样式*/
    .table-container,.page-tabs,.from-container{
        position: absolute;
        left: 0;
        top:0;
        bottom: 0;
        right: 0;
        overflow-y: auto;
        .page-tabs-container{
            position: absolute;
            top:41px;
            bottom:0;
            left: 0;
            right: 0;
            overflow: auto;
        }
    }
    /* 页码器 样式 */
    .page-controller{
        position:absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f6f7f8;
        border-top:1px solid #dfe0e0;
        display: box;
        display: -webkit-box;
        display: flex;
        display: -webkit-flex;
        height: 54px;
        line-height: 54px;
        .pagination{
            margin:10px;
        }
        .page-number{
            -webkit-box-flex:1;
            box-flex:1;
            flex:1;
            -webkit-flex: 1;
            overflow: hidden;
        }
        .page-size{
            padding-right: 10px;
        }
    }
}

/* 表格相关样式调整 */
table{
    .sort,.sort-up,.sort-down{
        cursor: pointer;
        &::after{
            font-family: "ALiconfont" !important;
            font-size: 16px;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;
            color: #666;
        }
    }
    .sort::after{
        content: "\e622";
        color: #ccc;
    }
    .sort-up::after{
        content: "\e621";
    }
    .sort-down::after{
        content: "\e620";
        position: relative;
        bottom: 3px;
    }
    
    &.table > tbody > tr > td.planing{
        padding: 0;
        div{
            height: 100%;
            padding: 10px 15px;
            border-left:2px solid #2772ee;
            color: #2772ee; 
        }
    }
    &.table > tbody > tr > td.checked {
        padding: 0;
        div{
            padding: 10px 15px;
            border-left:2px solid #4bb622;
            color: #4bb622;
        }
    }
    &.table > tbody > tr > td.cancel {
        padding: 0;
        div{
            padding: 10px 15px;
            border-left:2px solid #d7d7d7;
            color: #d7d7d7;
        }
    }
    &.table > tbody > tr > td.return {
        padding: 0;
        div{
            padding: 10px 15px;
            border-left:2px solid #f88311;
            color: #f88311;
        }
    }
    .btn-link {
        color: #337ab7;
    }
    &.table-form{
        width: 100%;
        td{
            padding:4px;
            &:nth-of-type(2n+1){
                text-align: center;
            } 
            &.require::before{
                content:"* ";
                color: #f33;
            }
            input,select{
                border:1px solid #d6d8db;
                padding:3px 6px; 
            }
        }
    }
    &.table.middle tbody td{
        vertical-align: middle;
        padding:4px 15px;
        &.multi{
            padding:2px 0;
            li{
                padding:2px 15px;
                border-bottom:1px solid #eeeff1;
                &:last-of-type{
                    border-bottom: none;
                }
            } 
        }
    }
}

.floor-list{
    margin-top:-1px;
    min-width: 1000px;
    &>li{
        margin-bottom: 20px;
        border-top:1px solid #dfe0e0;
        .floor-title{
            display: box;
            display: -webkit-box;
            display: flex;
            display: -webkit-flex;
            box-align:center ;
            -webkit-box-align:center;
            -moz-box-align:center;
            -ms-box-align:center;
            align-items:center ;
            -webkit-align-items:center;
            border-bottom: 2px solid #2772ee;
            background-color: #fff;
            height: 40px;
            line-height: 40px;
            padding:0 5px;
            div{
                padding:0 5px;
            }
            div.title-full{
                -webkit-box-flex:1;
                box-flex:1;
                flex:1;
                -webkit-flex: 1;
            }
            &::before{
                content: '●';
                font-size: 20px;
                padding: 0 5px;
                color: #2772ee;
            }
            .progress-box{
                width: 200px;
                padding-right: 10px;
                .progress{
                    margin-bottom: 0;
                }
            }
            .progress-number{
                padding-right: 10px;
                span{
                    color: #4bb622;
                }
            }
            .grade-number span{
                color: #2772ee;
            }
            a.btn{
                border-radius: 3px;
            }
        }
        .room-list{
            display: box;
            display: -webkit-box;
            display: flex;
            display: -webkit-flex;
            
            .room-item{
                width: 100px;
                text-align: center;
                background-color: #fff;
                border-top:1px solid #dfe0e0;
                display: box;
                display: -webkit-box;
                display: flex;
                display: -webkit-flex;
                box-orient:vertical;
                -webkit-box-orient:vertical;
                -moz-box-orient:vertical;
                -ms-box-orient:vertical;
                flex-direction:column;
                -webkit-flex-direction:column;
                &>div:first-of-type,li{
                    height: 30px;
                    line-height: 30px;
                }
                &>div:first-of-type{
                    background-color: #f6f7f8;
                    border-right:1px solid #dedfdf;
                    color: #333;
                    &.graded{
                        color: #4bb622;
                        &::before{
                            content: "√ ";
                        }
                        padding-right:10px;
                    }
                }
                .room-add{
                    color: #4bb622;
                }
                &>div:nth-of-type(2){
                    -webkit-box-flex:1;
                    box-flex:1;
                    flex:1;
                    -webkit-flex: 1;
                    display: box;
                    display: -webkit-box;
                    display: flex;
                    display: -webkit-flex;
                    box-align:center ;
                    -webkit-box-align:center;
                    -moz-box-align:center;
                    -ms-box-align:center;
                    align-items:center ;
                    -webkit-align-items:center;
                    background-color: #f2f2f2;
                    a{
                        -webkit-box-flex:1;
                        box-flex:1;
                        flex:1;
                        -webkit-flex: 1;
                        color: #888;
                    }
                }
                li{
                    border-right: 1px solid #f6f7f8;
                    border-bottom: 1px solid #f6f7f8;
                    a{
                        display: block;
                        border-left: 1px solid #f6f7f8;
                        margin-left: -1px;
                    }
                    &.grade-danger a{
                        color:#f33;
                    }
                }
                
            }
            &.room-list-row
            {
                &:nth-of-type(2n+1) .room-item>div:first-of-type{
                    background-color: #fff;
                }
                .room-item
                {
                    border-top:none;
                    border-bottom:1px solid #dfe0e0;
                }
            }
        }
    }
}
@import "tree.scss";
@import "weeks.scss";
@import "tabs.scss";
@import "infoCard.scss";
@import "checkList.scss";
@import "formTabs.scss";
@import "grade.scss";
@import "album.scss";