@charset "utf-8";
.page-tree{
    background-color: #fff;
    border-right:1px solid #dfe0e0;
    box-sizing: border-box;
    width: 225px;
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    a{
        display: block;
        padding:5px;
        color: #666;
        &:hover{
            background-color: rgba(222,222,222,.4);
            color: #155aba;
        }
        &.active{
            background-color: rgba(222,222,222,.2);
        }
        &.branch::before{
            padding-right: 5px;
            font-family:"ALiconfont" !important;
            font-size:16px;
            font-style:normal;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;
            content: "\e653 ";
        }
    }
    &>ul{
        ul{
            display: none;
        }
        li>{
            a{
                padding-left:20px;
            }
            ul>li{
                a{
                    padding-left:40px;
                }
                ul>li{
                    a{
                        padding-left:60px;
                    }
                    ul>li{
                        a{
                            padding-left:80px;
                        }
                        ul>li{
                            a{
                                padding-left:100px;
                            }
                            ul>li{
                                a{
                                    padding-left:120px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    li.open>a::before{
        content: "\e652 ";
    }
    li.open>ul{
        display: block;
    }
}