<div class="history-container">
    <a class="return-btn" href="javascript:history.go(-1)">
        <i class="ALiconfont icon-sortleft"></i>
        返回
    </a>
    <ul class="history-list">
        <li><a href="#index" ng-click="routerInit('data')">数据中心</a></li>
        <li><a href="#index">楼栋数据</a></li>
        <li>宿舍信息</li>
    </ul>
</div>
<div class="tool-bar" style="margin-left:225px;">
    <div style="min-width:160px">
        {{media.title}}
    </div>
    <div><a class="btn btn-success" ng-click="showCard('#floorAdd',floorInit(0))">新增楼层</a></div>
    <div class="bar-full"><a class="btn btn-info" ng-click="showCard('#floorAdd',floorInit(2))">批量添加</a></div>
    <div>
        楼层：{{flat.floorNum}}

        房间总数：{{flat.roomNum}}

        床位总数：{{flat.bedNum}}
    </div>
</div>
<div class="page-main">
    <div class="page-tree" tree style="top:-50px;">
        <ul>
            <li class="open">
                <a ng-class="{'branch':treeFlat.cmpusList,'leaf':!treeFlat.cmpusList}">{{treeFlat.title}}</a>
                <ul ng-show="treeFlat.cmpusList">
                    <li ng-repeat="campus in treeFlat.cmpusList||[]">
                        <a ng-class="{'branch':campus.liveAreaList,'leaf':!campus.liveAreaList}">{{campus.title}}</a>
                        <ul ng-show="campus.liveAreaList">
                            <li ng-repeat="liveArea in campus.liveAreaList||[]">
                                <a ng-class="{'branch':liveArea.flatList,'leaf':!liveArea.flatList}">{{liveArea.title}}</a>
                                <ul ng-show="liveArea.flatList">
                                    <li ng-repeat="flat in liveArea.flatList||[]">
                                        <a class="leaf" ng-click="show(flat,liveArea,campus)">{{flat.title}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="page-tabs" tabs style="background-color: #f6f7f8;left:225px">
        <ul class="floor-list">
            <li ng-repeat="floor in flat.floorList">
                <div class="floor-title">
                    <div>{{floor.floorName}}</div>
                    <div class="title-full"><a class="btn btn-default btn-xs" ng-click="showCard('#floorAdd',floorInit(1,floor))">编辑</a></div>
                    <div>
                        房间总数：{{floor.roomNum}} 
                        床位总数：{{floor.bedNum}}
                    </div>
                </div>
                <ul class="room-list room-list-row" ng-repeat="rooms in floor.roomList">
                    <li class="room-item" ng-repeat="room in rooms">
                        <div ng-click="showCard('#roomEdit',roomInit(room,floor))" ng-class="{'room-add':room.status<0}">{{room.roomName}}</div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="info-card fadeIn animated" id="floorAdd" info-card>
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        {{media.floor.type?(media.floor.type==1?"楼层编辑":"批量添加宿舍号"):"添加楼层"}}  
                        <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                    </div>
                    <div class="panel-body">
                        <table class="table-form table-bordered bg-white">
                            <tbody>
                                <tr>
                                    <td width="150">楼栋</td><td>{{media.title}}</td>
                                </tr>
                                <tr ng-hide="media.floor.type == 2">
                                    <td class="require">楼层号</td><td><input type="text" ng-model="media.floor.floorname" /></td>
                                </tr>
                                <tr ng-show="media.floor.type == 2">
                                    <td class="require">层数</td><td><input type="text" ng-model="media.floor.floornumber" /></td>
                                </tr>
                                <tr ng-show="media.floor.type == 2">
                                    <td class="require">每层房间数</td><td><input type="text" ng-model="media.floor.roomnumber" /></td>
                                </tr>
                                <tr ng-hide="media.floor.type == 2">
                                    <td class="require">排序</td>
                                    <td>
                                        <input type="text" ng-model="media.floor.listorder" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="require">户型</td>
                                    <td>
                                        <select ng-model="media.floor.typeid">
                                            <option value="">户型</option>
                                            <option ng-repeat="type in treeType" ng-selected="media.floor.roomstyle == type.typeId" value="{{type.typeId}}">{{type.title}}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>类别</td>
                                    <td>
                                        <select ng-model="media.floor.floortype">
                                            <option value="">请选择类别</option>
                                            <option value="男">男</option>
                                            <option value="女">女</option>
                                            <option value="其他">其他</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr ng-show="media.floor.type == 2">
                                    <td class="require">房间号枚举</td>
                                    <td>
                                        <div>
                                            <input type="text" ng-model="media.floor.enumera" />
                                        <div>
                                    </td>
                                </tr>
                                <tr ng-hide="media.floor.type == 2">
                                    <td>备注</td>
                                    <td><textarea class="form-control" rows="3" ng-model="media.floor.memo"></textarea></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <a ng-hide="media.floor.type == 1" ng-click="floor.addSave()" class="btn btn-success">确认添加</a>
                                        <a ng-show="media.floor.type == 1" ng-click="floor.editSave()" class="btn btn-info">确认修改</a>
                                        <a ng-show="media.floor.type == 1" ng-click="floor.delete()" class="btn btn-danger">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="info-card fadeIn animated" id="roomEdit" info-card>
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        {{media.room.type?"宿舍编辑":"添加宿舍"}}
                        <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                    </div>
                    <div class="panel-body">
                        <table class="table-form table-bordered bg-white">
                            <tbody>
                                <tr>
                                    <td width="150">楼栋</td><td>{{media.title + '-' + media.floor.floorname}}</td>
                                </tr>
                                <tr>
                                    <td class="require">寝室号</td><td><input type="text" ng-model="media.room.roomname" /></td>
                                </tr>
                                <tr>
                                    <td class="require">排序</td>
                                    <td>
                                        <input type="text" ng-model="media.room.listorder" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="require">户型</td>
                                    <td>
                                        <select ng-model="media.room.typeid">
                                            <option value="">户型</option>
                                            <option ng-repeat="type in treeType" ng-selected="media.room.roomtype == type.typeId" value="{{type.typeId}}">{{type.title}}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="require">类别</td>
                                    <td>
                                        <select ng-model="media.room.roomstyle">
                                            <option value="">请选择类别</option>
                                            <option value="男">男</option>
                                            <option value="女">女</option>
                                            <option value="其他">其他</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="require">状态</td>
                                    <td>
                                        <select ng-model="media.room.status">
                                            <option value="0" ng-selected="media.room.status==0">开启</option>
                                            <option value="1" ng-selected="media.room.status==1">关闭</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>备注</td>
                                    <td><textarea class="form-control" rows="3" ng-model="media.room.memo"></textarea></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <a ng-hide="media.room.type == 1" ng-click="room.addSave()" class="btn btn-success">确认添加</a>
                                        <a ng-show="media.room.type == 1" ng-click="room.editSave()" class="btn btn-info">确认修改</a>
                                        <a ng-show="media.room.type == 1" ng-click="room.delete()" class="btn btn-danger">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>