<div class="history-container">
    <a class="return-btn" href="javascript:history.go(-1)">
        <i class="ALiconfont icon-sortleft"></i>
        返回
    </a>
    <ul class="history-list">
        <li><a>公寓管理</a></li>
        <li><a>宿舍管理</a></li>
        <li>公寓宿舍查询</li>
    </ul>
</div>
<div class="tool-bar" style="margin-left:225px;">
    <div style="min-width:160px">
        A生活区-13号楼（男）
    </div>
    <div><a class="btn btn-success" ng-click="showCard('#floorAdd')">新增楼层</a></div>
    <div class="bar-full"><a class="btn btn-info" ng-click="showCard('#multiAdd')">批量添加</a></div>
    <div>
        楼层：

        房间总数：

        床位总数：

        已住人数：

        空房间数：

        空床位数：
    </div>
</div>
<div class="page-main">
    <div class="page-tree" tree style="top:-50px;">
        <ul>
            <li class="open">
                <a class="branch">树枝</a>
                <ul>
                    <li class="open">
                        <a class="branch">树枝</a>
                        <ul>
                            <li>
                                <a class="leaf">叶子</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li ng-repeat="item1 in tree">
                <a ng-class="{'branch':item1.list,'leaf':!item1.list}">{{item1.name}}</a>
                <ul ng-show="item1.list">
                    <li ng-repeat="item2 in item1.list||[]">
                        <a ng-class="{'branch':item2.list,'leaf':!item2.list}">{{item2.name}}</a>
                        <ul ng-show="item2.list">
                            <li ng-repeat="item3 in item2.list||[]">
                                <a ng-class="{'branch':item3.list,'leaf':!item3.list}">{{item3.name}}</a>
                                <ul ng-show="item3.list">
                                    <li ng-repeat="item4 in item3.list||[]">
                                        <a ng-class="{'branch':item4.list,'leaf':!item4.list}">{{item4.name}}</a>
                                        <ul ng-show="item4.list">
                                            <li ng-repeat="item5 in item4.list||[]">
                                                <a ng-class="{'branch':item5.list,'leaf':!item5.list}">{{item5.name}}</a>
                                                <ul ng-show="item5.list">
                                                    <li ng-repeat="item6 in item5.list||[]">
                                                        <a class="leaf">{{item6.name}}</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="page-tabs" tabs style="background-color: #f6f7f8;left:225px">
        <ul class="floor-list">
            <li>
                <div class="floor-title">
                    <div>一层</div>
                    <div class="title-full"><a class="btn btn-default btn-xs" ng-click="showCard('#floorEdit')">编辑</a></div>
                    <div>
                        房间总数：床位总数：已住人数：空房间数：空床位数
                    </div>
                </div>
                <div class="room-list room-list-row">
                    <div class="room-item">
                        <div>101</div>
                    </div>
                    <div class="room-item">
                        <div>102</div>
                    </div>
                    <div class="room-item">
                        <div>103</div>
                    </div>
                    <div class="room-item">
                        <div>104</div>
                    </div>
                    <div class="room-item">
                        <div>105</div>
                    </div>
                    <div class="room-item">
                        <div>106</div>
                    </div>
                    <div class="room-item">
                        <div>107</div>
                    </div>
                    <div class="room-item">
                        <div>108</div>
                    </div>
                    <div class="room-item">
                        <div>109</div>
                    </div>
                    <div class="room-item">
                        <div>110</div>
                    </div>
                </div>
                <div class="room-list room-list-row">
                    <div class="room-item">
                        <div><a ng-click="showCard('#roomEdit')">111</a></div>
                    </div>
                    <div class="room-item">
                        <div>112</div>
                    </div>
                    <div class="room-item">
                        <div>113</div>
                    </div>
                    <div class="room-item">
                        <div>114</div>
                    </div>
                    <div class="room-item">
                        <div>115</div>
                    </div>
                    <div class="room-item">
                        <div>116</div>
                    </div>
                    <div class="room-item">
                        <div>117</div>
                    </div>
                    <div class="room-item">
                        <div>118</div>
                    </div>
                    <div class="room-item">
                        <div>119</div>
                    </div>
                    <div class="room-item">
                        <div>120</div>
                    </div>
                </div>
                <div class="room-list room-list-row">
                    <div class="room-item">
                        <div>121</div>
                    </div>
                    <div class="room-item">
                        <div>122</div>
                    </div>
                    <div class="room-item">
                        <div>123</div>
                    </div>
                    <div class="room-item">
                        <div><a class="room-add" ng-click="showCard('#roomAdd')">新增寝室</a></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="floor-title">
                    <div>二层 </div>
                    <div class="title-full"><a class="btn btn-default btn-xs" ng-click="showCard('#floorEdit')">编辑</a></div>
                    <div>
                        房间总数：床位总数：已住人数：空房间数：空床位数
                    </div>
                </div>
                <div class="room-list room-list-row">
                    <div class="room-item">
                        <div>201</div>
                    </div>
                    <div class="room-item">
                        <div>202</div>
                    </div>
                    <div class="room-item">
                        <div>203</div>
                    </div>
                    <div class="room-item">
                        <div>204</div>
                    </div>
                    <div class="room-item">
                        <div>205</div>
                    </div>
                    <div class="room-item">
                        <div>206</div>
                    </div>
                    <div class="room-item">
                        <div>207</div>
                    </div>
                    <div class="room-item">
                        <div>208</div>
                    </div>
                    <div class="room-item">
                        <div>209</div>
                    </div>
                    <div class="room-item">
                        <div>210</div>
                    </div>
                </div>
                <div class="room-list room-list-row">
                    <div class="room-item">
                        <div>211</div>
                    </div>
                    <div class="room-item">
                        <div>212</div>
                    </div>
                    <div class="room-item">
                        <div>213</div>
                    </div>
                    <div class="room-item">
                        <div>214</div>
                    </div>
                    <div class="room-item">
                        <div>215</div>
                    </div>
                    <div class="room-item">
                        <div>216</div>
                    </div>
                    <div class="room-item">
                        <div>217</div>
                    </div>
                    <div class="room-item">
                        <div>218</div>
                    </div>
                    <div class="room-item">
                        <div>219</div>
                    </div>
                    <div class="room-item">
                        <div>220</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="info-card fadeIn animated" id="multiAdd" info-card>
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        批量添加宿舍号
                        <a class="info-card-close">x</a>
                    </div>
                    <div class="panel-body">
                        <table class="table-form table-bordered bg-white">
                            <tbody>
                                <tr>
                                    <td width="150">楼栋</td><td> 校区 生活区 楼栋</td>
                                </tr>
                                <tr>
                                    <td class="require">层数</td><td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td class="require">每层房间数</td><td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td class="require">户型</td>
                                    <td>
                                        <select>
                                            <option value="">户型</option>
                                            <option value="one">First</option>
                                            <option value="two">Second</option>
                                            <option value="three">Third</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>类别</td>
                                    <td>
                                        <select>
                                            <option value="">类别</option>
                                            <option value="one">First</option>
                                            <option value="two">Second</option>
                                            <option value="three">Third</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="require">房间号枚举</td>
                                    <td>
                                        <div>
                                            <input type="text" />
                                        <div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <a class="btn btn-success">确认添加</a>
                                        <a class="btn btn-default">取消</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="info-card fadeIn animated" id="floorAdd" info-card>
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        添加楼层
                        <a class="info-card-close">x</a>
                    </div>
                    <div class="panel-body">
                        <table class="table-form table-bordered bg-white">
                            <tbody>
                                <tr>
                                    <td width="150">楼栋</td><td> 校区 生活区 楼栋</td>
                                </tr>
                                <tr>
                                    <td class="require">楼层号</td><td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td class="require">添加位置</td>
                                    <td>
                                        <select>
                                            <option value="">楼层前</option>
                                            <option value="one">First</option>
                                            <option value="two">Second</option>
                                            <option value="three">Third</option>
                                        </select>
                                        <input type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="require">户型</td>
                                    <td>
                                        <select>
                                            <option value="">户型</option>
                                            <option value="one">First</option>
                                            <option value="two">Second</option>
                                            <option value="three">Third</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>类别</td>
                                    <td>
                                        <select>
                                            <option value="">类别</option>
                                            <option value="one">First</option>
                                            <option value="two">Second</option>
                                            <option value="three">Third</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>备注</td>
                                    <td><textarea class="form-control" rows="3"></textarea></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <a class="btn btn-success">确认添加</a>
                                        <a class="btn btn-default">取消</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="info-card fadeIn animated" id="floorEdit" info-card>
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        楼层编辑
                        <a class="info-card-close">x</a>
                    </div>
                    <div class="panel-body">
                        <table class="table-form table-bordered bg-white">
                            <tbody>
                                <tr>
                                    <td width="150">楼栋</td><td> 校区 生活区 楼栋</td>
                                </tr>
                                <tr>
                                    <td class="require">楼层号</td><td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td class="require">添加位置</td>
                                    <td>
                                        <select>
                                            <option value="">楼层前</option>
                                            <option value="one">First</option>
                                            <option value="two">Second</option>
                                            <option value="three">Third</option>
                                        </select>
                                        <input type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="require">户型</td>
                                    <td>
                                        <select>
                                            <option value="">户型</option>
                                            <option value="one">First</option>
                                            <option value="two">Second</option>
                                            <option value="three">Third</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>类别</td>
                                    <td>
                                        <select>
                                            <option value="">类别</option>
                                            <option value="one">First</option>
                                            <option value="two">Second</option>
                                            <option value="three">Third</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>备注</td>
                                    <td><textarea class="form-control" rows="3"></textarea></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <a class="btn btn-info">确认修改</a>
                                        <a class="btn btn-default">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="info-card fadeIn animated" id="roomAdd" info-card>
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        添加宿舍
                        <a class="info-card-close">x</a>
                    </div>
                    <div class="panel-body">
                        <table class="table-form table-bordered bg-white">
                            <tbody>
                                <tr>
                                    <td width="150">楼栋</td><td> 校区 生活区 楼栋</td>
                                </tr>
                                <tr>
                                    <td class="require">寝室号</td><td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td class="require">添加位置</td>
                                    <td>
                                        <select>
                                            <option value="">寝室前</option>
                                            <option value="one">First</option>
                                            <option value="two">Second</option>
                                            <option value="three">Third</option>
                                        </select>
                                        <input type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="require">户型</td>
                                    <td>
                                        <select>
                                            <option value="">户型</option>
                                            <option value="one">First</option>
                                            <option value="two">Second</option>
                                            <option value="three">Third</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="require">类别</td>
                                    <td>
                                        <select>
                                            <option value="">类别</option>
                                            <option value="one">First</option>
                                            <option value="two">Second</option>
                                            <option value="three">Third</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="require">状态</td>
                                    <td>
                                        <select>
                                            <option value="">开启</option>
                                            <option value="one">开启</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <a class="btn btn-success">确认添加</a>
                                        <a class="btn btn-default">取消</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="info-card fadeIn animated" id="roomEdit" info-card>
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        编辑宿舍
                        <a class="info-card-close">x</a>
                    </div>
                    <div class="panel-body">
                        <table class="table-form table-bordered bg-white">
                            <tbody>
                                <tr>
                                    <td width="150">楼栋</td><td> 校区 生活区 楼栋</td>
                                </tr>
                                <tr>
                                    <td class="require">寝室号</td><td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td class="require">添加位置</td>
                                    <td>
                                        <select>
                                            <option value="">寝室前</option>
                                            <option value="one">First</option>
                                            <option value="two">Second</option>
                                            <option value="three">Third</option>
                                        </select>
                                        <input type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="require">户型</td>
                                    <td>
                                        <select>
                                            <option value="">户型</option>
                                            <option value="one">First</option>
                                            <option value="two">Second</option>
                                            <option value="three">Third</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="require">类别</td>
                                    <td>
                                        <select>
                                            <option value="">类别</option>
                                            <option value="one">First</option>
                                            <option value="two">Second</option>
                                            <option value="three">Third</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="require">状态</td>
                                    <td>
                                        <select>
                                            <option value="">开启</option>
                                            <option value="one">开启</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <a class="btn btn-info">确认修改</a>
                                        <a class="btn btn-default">取消</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>