<div class="history-container">
    <a class="return-btn" href="javascript:history.go(-1)">
        <i class="ALiconfont icon-sortleft"></i>
        返回
    </a>
    <ul class="history-list">
        <li><a href="#index" ng-click="routerInit('data')">数据中心</a></li>
        <li><a href="#index">楼栋数据</a></li>
        <li>校区生活区</li>
    </ul>
</div>
<div class="page-main" style="top:49px;">
    <div class="page-tree" tree>
        <ul>
            <li class="open">
                <a ng-class="{'branch':treeFlat.cmpusList,'leaf':!treeFlat.cmpusList}">{{treeFlat.title}}</a>
                <ul ng-show="treeFlat.cmpusList">
                    <li class="open" ng-repeat="campus in treeFlat.cmpusList||[]">
                        <a ng-click="show(1,campus,treeFlat.title)" ng-class="{'branch':campus.liveAreaList,'leaf':!campus.liveAreaList}">{{campus.title}}</a>
                        <ul ng-show="campus.liveAreaList">
                            <li class="" ng-repeat="liveArea in campus.liveAreaList||[]">
                                <a ng-click="show(2,liveArea,treeFlat.title,campus.title)" ng-class="{'branch':liveArea.flatList,'leaf':!liveArea.flatList}">{{liveArea.title}}</a>
                                <ul ng-show="liveArea.flatList">
                                    <li ng-repeat="flat in liveArea.flatList||[]">
                                        <a ng-click="show(3,flat,treeFlat.title,campus.title,liveArea.title)" class="leaf">{{flat.title}}</a>
                                    </li>
                                    <li ng-if="menuCheck(227)"><a class="add" ng-click="add(3,liveArea,campus.title)"><i class="ALiconfont icon-plus1"></i> 添加楼栋</a></li>
                                </ul>
                            </li>
                            <li ng-if="menuCheck(224)"><a class="add" ng-click="add(2,campus)"><i class="ALiconfont icon-plus1"></i> 添加生活区</a></li>
                        </ul>
                    </li>
                    <li ng-if="menuCheck(137)"><a class="add" ng-click="add(1,treeFlat)"><i class="ALiconfont icon-plus1"></i> 添加校区</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="from-container" style="left:225px;" ng-show="media.type>0">
        <table class="table-form table-bordered bg-white">
            <tr ng-show="media.type>0">
                <td class="require" width="200">校区</td><td><input type="text" ng-disabled="media.type>1 || (media.type == 1 && !media.menuCheck())" ng-model="media.campusTitle" /></td>
            </tr>
            <tr ng-show="media.type>1">
                <td class="require" width="200">生活区</td><td><input type="text" ng-disabled="media.type>2 || (media.type == 2 && !media.menuCheck())" ng-model="media.areaTitle" /></td>
            </tr>
            <tr ng-show="media.type>2">
                <td class="require" width="200">楼栋</td><td><input type="text" ng-disabled="media.type == 3 && !media.menuCheck()" ng-model="media.flatTitle" /></td>
            </tr>
            <tr ng-show="media.type>2">
                <td class="require" width="200">楼栋性别</td><td><input type="redio"/></td>
            </tr>
            <tr>
                <td class="require" width="200">排序</td><td><input type="text" ng-disabled="!media.menuCheck()"  ng-model="media.listOrder" /></td>
            </tr>
            <tr>
                <td></td><td>
                    <button ng-if="media.menuCheck()" ng-class="{'btn-success':media.status,'btn-info':!media.status}" ng-click="media.status?addSave():editSave()" class="btn">{{media.status?'提交':'保存'}}</button>
                    <button ng-if="(media.type == 1 && menuCheck(139)) || (media.type == 2 && menuCheck(226))||(media.type == 3 && menuCheck(229))" ng-show="media.status==0" ng-click="delete()" class="btn btn-danger">删除</button>
                </td>
            </tr>
            
        </table>
    </div>
</div>
