<div class="history-container">
    <a class="return-btn" href="javascript:history.go(-1)">
        <i class="ALiconfont icon-sortleft"></i>
        返回
    </a>
    <ul class="history-list">
        <li><a href="#index" ng-click="routerInit('data')">数据中心</a></li>
        <li><a href="#index">楼栋数据</a></li>
        <li>户型管理</li>
    </ul>
</div>
<div class="page-main" style="top:49px;">
    <div class="page-tree" tree>
        <ul>
            <li class="open">
                <a class="branch">所有</a>
                <ul>
                    <li ng-repeat="item in treeType||[]">
                        <a class='leaf' ng-click="show(item)">{{item.title}}</a>
                    </li>
                    <li><a class="add" ng-click="add()"><i class="ALiconfont icon-plus1"></i> 添加户型</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="from-container" style="left:225px;">
        <table class="table-form table-bordered bg-white">
            <tr>
                <td class="require" width="200">户型名称</td><td><input type="text" ng-model="roomType.title" /></td>
            </tr>
            <tr>
                <td class="require" width="200">床位数</td>
                <td>
                    <select ng-model="roomType.bedNum">
                        <option value="1" ng-selected="roomType.bedNum == 1">1</option>
                        <option value="2" ng-selected="roomType.bedNum == 2">2</option>
                        <option value="3" ng-selected="roomType.bedNum == 3">3</option>
                        <option value="4" ng-selected="roomType.bedNum == 4">4</option>
                        <option value="5" ng-selected="roomType.bedNum == 5">5</option>
                        <option value="6" ng-selected="roomType.bedNum == 6">6</option>
                        <option value="7" ng-selected="roomType.bedNum == 7">7</option>
                        <option value="8" ng-selected="roomType.bedNum == 8">8</option>
                        <option value="9" ng-selected="roomType.bedNum == 9">9</option>
                        <option value="10" ng-selected="roomType.bedNum == 10">10</option>
                        <option value="0" ng-selected="roomType.bedNum == 0">其他用途</option>
                    </select>
                </td>
            </tr>
            <tr ng-show="roomType.bedNum == 0">
                <td class="require" width="200">用途</td><td><input type="text" ng-model="roomType.purpose" /></td>
            </tr>
            <tr>
                <td width="200">朝向</td><td><input type="text" ng-model="roomType.direction" /></td>
            </tr>
            <tr ng-hide="roomType.bedNum == 0">
                <td width="200">收费标准</td><td><input type="text" ng-model="roomType.fee" /></td>
            </tr>
            <tr ng-show="roomType.bedNum > 0">
                <td width="200">床位类型</td>
                <td>
                    <select ng-model="roomType.bedStyle">
                        <option value="">请选择</option>
                        <option value="上下铺" ng-selected="roomType.bedStyle == '上下铺'">上下铺</option>
                        <option value="上铺下桌" ng-selected="roomType.bedStyle == '上铺下桌'">上铺下桌</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="200">面积</td><td><input type="text" ng-model="roomType.area" /></td>
            </tr>
            <tr>
                <td width="200">户型照片</td>
                <td>
                    <img style="max-width:300px;" src="{{roomType.roomPic}}"/>
                    <div class="btn btn-primary btn-sm" input-file change="uploadImg()">上传照片</div>
                </td>
            </tr>
            <tr>
                <td width="200">备注</td><td><textarea rows="4" ng-model="roomType.memo"></textarea></td>
            </tr>
            <tr>
                <td></td><td>
                    <div class="btn-box">
                    <button class="btn btn-success" ng-show="!roomType.type" ng-click="addSave()">提交</button>
                    <button class="btn btn-info" ng-show="roomType.type" ng-click="editSave()">保存</button>
                    <button class="btn btn-danger" ng-show="roomType.type" ng-click="delete()">删除</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
