<div class="history-container">
    <a class="return-btn" href="javascript:history.go(-1)">
        <i class="ALiconfont icon-sortleft"></i>
        返回
    </a>
    <ul class="history-list">
        <li><a href="#index" ng-click="routerInit('data')">数据中心</a></li>
        <li><a href="#index">师生信息</a></li>
        <li>学院班级信息</li>
    </ul>
</div>
<div class="page-main" style="top:49px;">
    <div class="page-tree" tree>
        <ul>
            <li class="open" ng-repeat="list in treeCollege">
                <a ng-class="{'branch':list.collegeList,'leaf':!list.collegeList}">{{list.name}}</a>
                <ul ng-show="list.collegeList">
                    <li class="open" ng-repeat="college in list.collegeList||[]" >
                        <a ng-class="{'branch':college.classList,'leaf':!college.classList}" ng-click="show(1,college)">{{college.collegeName}}</a>
                        <ul ng-show="college.classList">
                            <li ng-repeat="cla in college.classList||[]" >
                                <a class="leaf" ng-click="show(2,cla)">{{cla.className}}</a>
                            </li>
                            <li ng-if="menuCheck(168)"><a class="add" ng-click="add(2,college)"><i class="ALiconfont icon-plus1"></i> 添加班级</a></li>
                        </ul>
                    </li>
                    <li ng-if="menuCheck(167)"><a class="add" ng-click="add(1,list)"><i class="ALiconfont icon-plus1"></i> 添加学院</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="from-container" style="left:225px;"  ng-show="media.type > 0 ">
        <table class="table-form table-bordered bg-white">
            <tr ng-show="media.type == 1 ">
                <td class="require" width="200">学院</td><td><input type="text" ng-disabled="media.type == 1 && !media.menuCheck()" ng-model="media.collegeName" /></td>
            </tr>
            <tr ng-show="media.type == 2 ">
                <td class="require" width="200">班级</td><td><input ng-disabled="media.type == 2 && !media.menuCheck()" type="text" ng-model="media.className" /></td>
            </tr>
            <tr ng-show="media.type == 2">
                <td class="require" width="200">年级</td>
                <td>
                    <select ng-model="media.grade" ng-disabled="media.type == 2 && !media.menuCheck()">
                        <option value="">请选择</option>
                        <option ng-repeat="grade in grades" value="{{grade}}" ng-selected="grade == media.grade">{{grade}}</option>
                    </select>
                </td>
            </tr>
            <tr ng-show="media.type == 2">
                <td class="require" width="200">毕业</td><td><input bs-switch ng-model="media.history" type="checkbox" switch-size="mini" switch-on-text="已毕业" switch-off-text="在籍" switch-active="{{media.type == 2 && media.menuCheck()}}"></td>
            </tr>
            <tr ng-show="media.type > 0">
                <td class="require" width="200">排序</td><td><input type="text" ng-disabled="!media.menuCheck()" ng-model="media.listOrder" /></td>
            </tr>
            <tr>
                <td></td><td>
                    <div class="btn-box">
                        <button ng-if="media.menuCheck()" ng-class="{'btn-success':media.status,'btn-info':!media.status}" ng-click="media.status?addSave():editSave()" class="btn">{{media.status?'提交':'保存'}}</button>
                        <button ng-if="(media.type == 1 && menuCheck(171)) || (media.type == 2 && menuCheck(172))"  ng-show="media.status == 0" ng-click="delete()" class="btn btn-danger">删除</button>
                    </div>
                </td>
            </tr>
            
        </table>
    </div>
</div>
