<ul ng-show="sysMenu[0]=='flat'">
    <li ng-class="{'active':sysMenu[1]=='flat'}" ng-click="switch('flat')">
        <a href="#index">
            <i class="ALiconfont icon-user"></i> 公寓管理
        </a>
    </li>
    <li ng-class="{'active':sysMenu[1]=='grade'}" ng-click="switch('grade')">
        <a href="#index">
            <i class="ALiconfont icon-user"></i> 宿舍考评
        </a>
    </li>
    <li ng-class="{'active':sysMenu[1]=='check'}" ng-click="switch('check')">
        <a href="#index">
            <i class="ALiconfont icon-user"></i> 登记管理
        </a>
    </li>
</ul>
<ul ng-show="sysMenu[0]=='data'">
    <li ng-class="{'active':sysMenu[1]=='data'}" ng-click="switch('data')">
        <a href="#index">
            <i class="ALiconfont icon-user"></i> 基础设置
        </a>
    </li>
    <li ng-class="{'active':sysMenu[1]=='collect'}" ng-click="switch('collect')">
        <a href="#index">
            <i class="ALiconfont icon-user"></i> 数据采集
        </a>
    </li>
    <li ng-class="{'active':sysMenu[1]=='floor'}" ng-click="switch('floor')">
        <a href="#index">
            <i class="ALiconfont icon-user"></i> 楼栋数据
        </a>
    </li>
    <li ng-class="{'active':sysMenu[1]=='insert'}" ng-click="switch('insert')">
        <a href="#index">
            <i class="ALiconfont icon-user"></i> 入住数据
        </a>
    </li>
</ul>
<ul ng-show="sysMenu[0]=='admin'">
    <li ng-class="{'active':sysMenu[1]=='admin'}" ng-click="switch('admin')">
        <a href="#index">
            <i class="ALiconfont icon-user"></i> 账号管理
        </a>
    </li>
    <li ng-class="{'active':sysMenu[1]=='role'}" ng-click="switch('role')">
        <a href="#index">
            <i class="ALiconfont icon-user"></i> 角色管理
        </a>
    </li>
</ul>

