<div class="page-navbar" header-navbar> 
    <div class="logo-nav">
        <img src="images/yeoman.png">
    </div>
    <div class="title-nav">
        后勤宝
    </div>
    <div class="top-navigation">
        <ul>
            <li data-toggle="wechat"><a ng-click="switch(1,'wechat')" target="page-tab">微信平台</a></li>
            <li data-toggle="flat" ng-class="{'active':sysMenu[0]=='flat'}" ng-click="switch(0,'flat')"><a href="#index">公寓管理</a></li>
            <li data-toggle="repair" ng-class="{'active':sysMenu[0]=='repair'}"><a ng-click="switch(1,'repair')">智能报修</a></li>
            <li data-toggle="food" ng-class="{'active':sysMenu[0]=='food'}"><a ng-click="switch(1,'food')">订餐系统</a></li>
            <li data-toggle="water" ng-class="{'active':sysMenu[0]=='water'}"><a ng-click="switch(1,'water')" target="page-tab">订水系统</a></li>
            <li data-toggle="pay" ng-class="{'active':sysMenu[0]=='pay'}"><a ng-click="switch(1,'pay')" target="page-tab">缴费中心</a></li>
            <li data-toggle="data" ng-class="{'active':sysMenu[0]=='data'}"  ng-click="switch(0,'data')"><a href="#index">数据中心</a></li>
            <li data-toggle="admin" ng-class="{'active':sysMenu[0]=='admin'}"  ng-click="switch(0,'admin')"><a href="#index">系统设置</a></li>
            <li data-toggle="message"><a ng-click="switch(0,'message')">服务监督</a></li>
            <li data-toggle="graduate"><a ng-click="switch(0,'graduate')" href="#index">毕业离校</a></li>
            <li data-toggle="shower"><a ng-click="switch(1,'shower')">浴室预定</a></li>
        </ul>
    </div>
    <div class="user-nav">
        <div><a>{{media.name}}</a></div>
        <ul>
            <li ng-click="change()">修改密码</li>
            <li ng-click="logout()">退出登陆</li>
        </ul>
    </div>
    <!--<div class="menu-nav">
        <a>test2</a>
    </div>-->
    
    <div class="page-navbar-toggle fadeIn animated">
        <div class="top-navigation">
            <ul>
                <li data-toggle="wechat"><a ng-click="switch(1,'wechat')" target="page-tab">微信平台</a></li>
                <li data-toggle="flat" ng-class="{'active':sysMenu[0]=='flat'}" ng-click="switch(0,'flat')"><a href="#index">公寓管理</a></li>
                <li data-toggle="repair" ng-class="{'active':sysMenu[0]=='repair'}"><a ng-click="switch(1,'repair')">智能报修</a></li>
                <li data-toggle="food" ng-class="{'active':sysMenu[0]=='food'}"><a ng-click="switch(1,'food')">订餐系统</a></li>
                <li data-toggle="water" ng-class="{'active':sysMenu[0]=='water'}"><a ng-click="switch(1,'water')" target="page-tab">订水系统</a></li>
                <li data-toggle="pay" ng-class="{'active':sysMenu[0]=='pay'}"><a ng-click="switch(1,'pay')" target="page-tab">缴费中心</a></li>
                <li data-toggle="data" ng-class="{'active':sysMenu[0]=='data'}"  ng-click="switch(0,'data')"><a href="#index">数据中心</a></li>
                <li data-toggle="admin" ng-class="{'active':sysMenu[0]=='admin'}"  ng-click="switch(0,'admin')"><a href="#index">系统设置</a></li>
                <li data-toggle="message"><a ng-click="switch(0,'message')">服务监督</a></li>
                <li data-toggle="graduate"><a ng-click="switch(0,'graduate')" href="#index">毕业离校</a></li>
                <li data-toggle="shower"><a ng-click="switch(1,'shower')">浴室预定</a></li>
            </ul>
        </div>
        <i class="page-navbar-setting ALiconfont icon-set" ng-click='showCard("#headerToggle")'></i>
        <i class="page-navbar-close ALiconfont icon-close"></i>
    </div>
</div>
<div class="info-card fadeIn animated" id="newPassword" info-card>
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        修改密码
                        <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                    </div>
                    <div class="panel-body">
                        <form ng-submit="editSave(closeCard('#newPassword'))">
                        <table class="table-form table-bordered bg-white">
                            <tbody>
                                <tr>
                                    <td class="require">原密码</td><td><input type="password" ng-model="media.old" /></td>
                                </tr>
                                <tr>
                                    <td class="require">新密码</td><td><input type="password" ng-model="media.newPassword" /></td>
                                </tr>
                                <tr>
                                    <td class="require">确认密码</td><td><input type="password" ng-model="media.confirm" /></td>
                                </tr>
                                <tr>
                                    <td></td><td class="td-btn-box">
                                        <button type="submit" class="btn btn-info">确认修改</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="info-card fadeIn animated" id="headerToggle" info-card>
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        自定义菜单
                        <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group" style="padding:50px">
                            <li>
                                <a class="list-group-item b-l-primary">
                                    微信平台
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.wechat" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    公寓管理
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.flat" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    智能报修
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.repair" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    订餐系统
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.food" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    订水系统
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.water" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    缴费中心
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.pay" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    数据中心
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.data" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    系统设置
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.admin" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    服务监督
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.message" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    毕业离校
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.graduate" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    浴室预定
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.shower" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>