<ul class="menu-container">
    <li ng-if="menuCheck(14)" ng-show="sysMenu[1]=='flat'">
        <div class="menu-title">综合查询</div>
        <ul class="menu-list">
            <li ng-if="menuCheck(18)">
                <a href="#flats">
                    <i class="ALiconfont icon-loudong" style="background-color:#38adff;font-size:32px"></i>
                    按楼查看
                </a>
            </li>
            <li ng-if="menuCheck(19)">
                <a href="#college">
                    <i class="ALiconfont icon-xuexiao" style="line-height: 45px;background-color:#02cf97;font-size:32px"></i>
                    按学院查看
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="menuCheck(15)" ng-show="sysMenu[1]=='flat'">
        <div class="menu-title">日常调换宿</div>
        <ul class="menu-list">
            <li ng-if="menuCheck(27)">
                <a href="#live">
                    <i class="ALiconfont icon-ruzhu" style="line-height: 45px;background-color:#ff9c00;font-size:32px"></i>
                    入住
                </a>
            </li>
            <li ng-if="menuCheck(28)">
                <a href="#change">
                    <i class="ALiconfont icon-tiaosu" style="line-height: 45px;background-color:#fc7257;font-size:32px"></i>
                    调宿
                </a>
            </li>
            <li ng-if="menuCheck(29)">
                <a href="#quit">
                    <i class="ALiconfont icon-tuisu" style="line-height: 45px;background-color:#02cf97;font-size:32px"></i>
                    退宿
                </a>
            </li>
            <li ng-if="menuCheck(30)">
                <a href="#check">
                    <i class="ALiconfont icon-susheshenpi" style="line-height: 45px;background-color:#38adff;font-size:32px"></i>
                    审批
                </a>
            </li>
        </ul>
    </li>
     <li ng-if="menuCheck(17)" ng-show="sysMenu[1]=='flat'">
        <div class="menu-title">毕业退宿管理</div>
        <ul class="menu-list">
            <li ng-if="menuCheck(32)">
                <a href="#graduation">
                    <i class="ALiconfont icon-biye" style="line-height: 40px;background-color:#ff9c00;font-size:32px"></i>
                    毕业退宿
                </a>
            </li>
            <li ng-if="menuCheck(342)">
                <a href="#arrearage">
                    <i class="ALiconfont icon-cost-info" style="background-color:#fc7257;font-size:25px"></i>
                    违欠信息
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="menuCheck(16)" ng-show="sysMenu[1]=='flat'">
        <div class="menu-title">新生入学管理</div>
        <ul class="menu-list">
            <!--<li >
                <a>
                    <i class="glyphicon glyphicon-console" style="background-color:#d3d6d9;font-size:20px"></i>
                    开发中...
                </a>
            </li>-->
            <!--注意添加check时间和a标签才能跳转-->
              <!--<a href="#newstudent">-->
                <li ng-if="menuCheck(31)">
                <a href="">
                   <i class="ALiconfont icon-xueshengfenpei" style="line-height: 45px;background-color:#d3d6d9;font-size:32px"></i>
                  新生分配开发中...
                </a>
            </li>
        </ul>
    </li>
   <li ng-if="menuCheck(368)" ng-show="sysMenu[1]=='flat'">
        <div class="menu-title">寒暑假留宿</div>
        <ul class="menu-list">
            <li ng-if="menuCheck(369)">
                <a href="#holiday">
                    <i class="ALiconfont icon-my-rili" style="background-color:#38adff;font-size:30px"></i>
                    寒暑假留宿
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="menuCheck(58)" ng-show="sysMenu[1]=='grade'">
        <div class="menu-title">查宿舍</div>
        <ul class="menu-list">
            <li ng-if="menuCheck(60)">
                <a href="#gradeForWeek">
                    <i class="ALiconfont icon-yixiangdengji" style="background-color:#ff9c00;font-size:26px"></i>
                    周评分
                </a>
            </li>
            <li ng-if="menuCheck(277)">
                <a href="#gradeForDay">
                    <i class="ALiconfont icon-yixiangdengji" style="background-color:#fc7257;font-size:26px"></i>
                    日评分
                </a>
            </li>
            <li ng-if="menuCheck(278)">
                <a href="#gradeForMonth">
                    <i class="ALiconfont icon-yixiangdengji" style="background-color:#02cf97;font-size:26px"></i>
                    月评分
                </a>
            </li>
            <li ng-if="menuCheck(279)">
                <!--<li>-->
                <a href="#spot">
                    <i class="ALiconfont icon-yixiangdengji" style="background-color:#38adff;font-size:26px"></i>
                    抽查评分
                </a>
            </li>
            <li ng-if="menuCheck(307)">
                <a href="#rule">
                    <i class="ALiconfont icon-yixiangdengji" style="background-color:#9c59b8;font-size:26px"></i>
                    违章管理
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="menuCheck(300)" ng-show="sysMenu[1]=='grade'">
        <div class="menu-title">按楼栋统计</div>
        <ul class="menu-list">
            <li ng-if="menuCheck(301)">
                <a href="#scoreStatistics">
                    <i class="ALiconfont icon-chart" style="background-color:#02cf97;font-size:26px"></i>
                    打分统计
                </a>
            </li>
            <li ng-if="menuCheck(303)">
                <a href="#ruleStatistics">
                    <i class="ALiconfont icon-chart" style="background-color:#54d5eb;font-size:26px"></i>
                    违章统计
                </a>
            </li>
            <li ng-if="menuCheck(304)">
                <a href="#appraiseStatistics">
                    <i class="ALiconfont icon-chart" style="background-color:#ff9c00;font-size:26px"></i>
                    考核统计
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="menuCheck(362)" ng-show="sysMenu[1]=='grade'">
        <div class="menu-title">按学院统计</div>
        <ul class="menu-list">
            <li ng-if="menuCheck(364)">
                <a href="#scoreStatisticsForCollege">
                    <i class="ALiconfont icon-chart" style="background-color:#02cf97;font-size:26px"></i>
                    打分统计
                </a>
            </li>
            <li ng-if="menuCheck(365)">
                <a href="#ruleStatisticsForCollege">
                    <i class="ALiconfont icon-chart" style="background-color:#54d5eb;font-size:26px"></i>
                    违章统计
                </a>
            </li>
            <li ng-if="menuCheck(363)">
                <a href="#appraiseStatisticsForCollege">
                    <i class="ALiconfont icon-chart" style="background-color:#ff9c00;font-size:26px"></i>
                    考核统计
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="menuCheck(59)" ng-show="sysMenu[1]=='grade'">
        <div class="menu-title">设置</div>
        <ul class="menu-list">
            <li ng-if="menuCheck(62)">
                <a href="#gradeSetting">
                    <i class="ALiconfont icon-week1" style="background-color:#ff9c00;font-size:24px"></i>
                    打分设置
                </a>
            </li>
            <li ng-if="menuCheck(266)">
                <a href="#ruleSetting">
                    <i class="ALiconfont icon-anquantishi" style="background-color:#fc7257;font-size:28px"></i>
                    违章设置
                </a>
            </li>
            <li ng-if="menuCheck(361)">
                <a href="#appraiseSetting">
                    <i class="ALiconfont icon-jiadianluyouqichengjidan" style="background-color:#9c59b8;font-size:28px"></i>
                    考核设置
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="menuCheck(72)" ng-show="sysMenu[1]=='check'">
        <div class="menu-title">日常登记</div>
        <ul class="menu-list">
            <li ng-if="menuCheck(73)">
                <a href="#visit">
                    <i class="ALiconfont icon-crmtubiao67" style="background-color:#ff9c00;font-size:28px;line-height:44px;"></i>
                    访客登记
                </a>
            </li>
            <li ng-if="menuCheck(74)">
                <a href="#key">
                    <i class="ALiconfont icon-iconfontkey" style="background-color:#fc7257;font-size:25px"></i>
                    借钥匙
                </a>
            </li>
            <li ng-if="menuCheck(75)">
                <a href="#late">
                    <i class="ALiconfont icon-iconfontkey1" style="background-color:#02cf97;font-size:25px"></i>
                    晚归
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="menuCheck(322)" ng-show="sysMenu[1]=='flatManager'">
    <!--<li ng-show="sysMenu[1]=='flatManager'">-->
        <div class="menu-title">人员管理</div>
        <ul class="menu-list">
            <li ng-if="menuCheck(323)">
            <!--<li>-->
                <a href="#flatManager">
                    <i class="ALiconfont icon-zhanghaoguanli" style="background-color:#fc7257;font-size:28px"></i>
                    楼栋管理员
                </a>
            </li>
            <li ng-if="menuCheck(340)">
                <a href="#counselor">
                    <i class="ALiconfont icon-zhanghaoguanli" style="background-color:#02cf97;font-size:28px"></i>
                    辅导员
                </a>
            </li>
        </ul>
    </li>
    
    <li ng-if="menuCheck(106)" ng-show="sysMenu[1]=='admin'">
        <div class="menu-title">帐号管理</div>
        <ul class="menu-list">
            <li ng-if="menuCheck(111)">
                <a href="#admin">
                    <i class="ALiconfont icon-jiaoseguanli" style="background-color:#fc7257;font-size:23px"></i>
                    超级管理员
                </a>
            </li>
            <li ng-if="menuCheck(114)">
                <a href="#user">
                    <i class="ALiconfont icon-iconfonticonfontzhiweiguanli" style="background-color:#02cf97;font-size:30px;"></i>
                    帐号管理
                </a>
            </li>
            <li ng-if="menuCheck(117)">
                <a href="#group">
                    <i class="ALiconfont icon-xiaji" style="background-color:#38adff;font-size:24px"></i>
                    帐号组
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="menuCheck(121)" ng-show="sysMenu[1]=='role'">
        <div class="menu-title">角色管理</div>
        <ul class="menu-list">
            <li ng-if="menuCheck(123)">
                <a href="#role">
                    <i class="ALiconfont icon-managerole" style="background-color:#02cf97;font-size:24px"></i>
                    角色管理
                </a>
            </li>
            <li ng-if="menuCheck(124)">
                <a href="#template">
                    <i class="ALiconfont icon-jiaose" style="background-color:#38adff;font-size:24px;line-height:38px;"></i>
                    角色模版
                </a>
            </li>
            <li ng-if="menuCheck(127)">
                <a href="#menu">
                    <i class="ALiconfont icon-yingyongchengxu" style="background-color:#ff9c00;font-size:24px"></i>
                    功能设置
                </a>
            </li>
        </ul>
    </li>
    <!--整个数据中心-->
    <li ng-if="menuCheck(103)" ng-show="sysMenu[1]=='data'">
        <div class="menu-title">基础设置</div>
        <ul class="menu-list">
            <li ng-if="menuCheck(104)">
                <a href="#term">
                    <i class="ALiconfont icon-week" style="background-color:#02cf97;font-size:25px"></i>
                    学期周数设置
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="menuCheck(355)" ng-show="sysMenu[1]=='center'">
        <div class="menu-title">综合查询</div>
        <ul class="menu-list">
            <li ng-if="menuCheck(357)">
                <!--<a href="#userList">-->
                <a>
                    <i class="ALiconfont icon-yonghubiao" style="background-color:#d3d6d9;font-size:25px"></i>
                    用户列表
                </a>
            </li>
            <li ng-if="menuCheck(358)">
                <!--<a href="#verify">-->
                <a>
                    <i class="ALiconfont icon-shenhe" style="background-color:#d3d6d9;font-size:25px"></i>
                    实名审核
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="menuCheck(356)" ng-show="sysMenu[1]=='center'">
        <div class="menu-title">设置</div>
        <ul class="menu-list">
            <li ng-if="menuCheck(359)">
                <!--<a href="#form">-->
                <a>
                    <i class="ALiconfont icon-renzheng" style="background-color:#d3d6d9;font-size:25px"></i>
                    认证方式
                </a>
            </li>
            <li ng-if="menuCheck(360)">
                <a>
                    <i class="ALiconfont icon-zhanghuanquan" style="background-color:#d3d6d9;font-size:25px"></i>
                    统一身份配置
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="menuCheck(109)" ng-show="sysMenu[1]=='floor'">
        <div class="menu-title">楼栋信息</div>
        <ul class="menu-list">
            <li ng-if="menuCheck(125)">
                <a href="#floor">
                    <i class="ALiconfont icon-xiezilou" style="background-color:#ff9c00;font-size:32px"></i>
                    校区生活区
                </a>
            </li>
            <li ng-if="menuCheck(128)">
                <a href="#room">
                    <i class="ALiconfont icon-key" style="background-color:#02cf97;font-size:25px"></i>
                    宿舍信息
                </a>
            </li>
            <li ng-if="menuCheck(130)">
                <a href="#type">
                    <i class="ALiconfont icon-housetype" style="background-color:#38adff;font-size:30px"></i>
                    户型管理
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="menuCheck(105)" ng-show="sysMenu[1]=='collect'">
        <div class="menu-title">师生信息</div>
        <ul class="menu-list">
            <li ng-if="menuCheck(107)">
                <a href="#class">
                    <i class="ALiconfont icon-temple" style="background-color:#ff9c00;font-size:28px;line-height:36px"></i>
                    学院班级信息
                </a>
            </li>
            <li ng-if="menuCheck(108)">
                <a href="#student">
                    <i class="ALiconfont icon-Contact" style="background-color:#38adff;font-size:28px;line-height:44px"></i>
                    学生信息
                </a>
            </li>
            <li ng-if="menuCheck(129)">
                <a href="#stay">
                    <i class="ALiconfont icon-home1" style="background-color:#fc7257;font-size:26px"></i>
                    住宿信息
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="menuCheck(378)" ng-show="sysMenu[1]=='graduate'">
        <div class="menu-title">毕业离校</div>
        <ul class="menu-list">
            <li ng-if="menuCheck(379)">
                 <a href="#leaveschool">
                    <i class="ALiconfont icon-temple" style="background-color:#ff9c00;font-size:28px;line-height:36px"></i>
                    毕业离校
                </a>
            </li>
            <li ng-if="menuCheck(380)">
                <a href="#leaveschoolpeople">
                    <i class="ALiconfont icon-crmtubiao67" style="background-color:#38adff;font-size:28px;line-height:44px"></i>
                    各部门审批结果
                </a>
            </li>
        </ul>
    </li>
</ul>