<ul class="menu-container">
    <li ng-show="sysMenu[1]=='flat'">
        <div class="menu-title">综合查询</div>
        <ul class="menu-list">
            <li >
                <a href="#flat">
                    <i class="ALiconfont icon-menu1" style="background-color:#38adff;font-size:20px"></i>
                    按楼查看
                </a>
            </li>
            <li >
                <a href="#list">
                    <i class="ALiconfont icon-menu1" style="background-color:#38adff;font-size:20px"></i>
                    按学院查看
                </a>
            </li>
        </ul>
    </li>
    <li ng-show="sysMenu[1]=='flat'">
        <div class="menu-title">日常调换宿</div>
        <ul class="menu-list">
            <li >
                <a href="#list1">
                    <i class="ALiconfont icon-menu1" style="background-color:#ff9c00;font-size:20px"></i>
                    入住
                </a>
            </li>
            <li >
                <a href="#list">
                    <i class="ALiconfont icon-menu1" style="background-color:#fc7257;font-size:px"></i>
                    调宿
                </a>
            </li>
            <li >
                <a href="#list">
                    <i class="ALiconfont icon-menu1" style="background-color:#fc7257;font-size:px"></i>
                    退宿
                </a>
            </li>
            <li >
                <a href="#list">
                    <i class="ALiconfont icon-menu1" style="background-color:#fc7257;font-size:px"></i>
                    审批
                </a>
            </li>
        </ul>
    </li>
    <li ng-show="sysMenu[1]=='flat'">
        <div class="menu-title">新生入学管理</div>
        <ul class="menu-list">
            <li >
                <a href="#list1">
                    <i class="ALiconfont icon-menu1" style="background-color:#ff9c00;font-size:20px"></i>
                    开发中...
                </a>
            </li>
        </ul>
    </li>
    <li ng-show="sysMenu[1]=='flat'">
        <div class="menu-title">毕业退宿管理</div>
        <ul class="menu-list">
            <li >
                <a href="#list1">
                    <i class="ALiconfont icon-menu1" style="background-color:#ff9c00;font-size:20px"></i>
                    开发中...
                </a>
            </li>
        </ul>
    </li>
    <li ng-show="sysMenu[1]=='grade'">
        <div class="menu-title">查宿舍</div>
        <ul class="menu-list">
            <li >
                <a href="#list1">
                    <i class="ALiconfont icon-menu1" style="background-color:#ff9c00;font-size:20px"></i>
                    卫生打分
                </a>
            </li>
            <li >
                <a href="#list1">
                    <i class="ALiconfont icon-menu1" style="background-color:#ff9c00;font-size:20px"></i>
                    违章登记
                </a>
            </li>
            <li >
                <a href="#list">
                    <i class="ALiconfont icon-menu1" style="background-color:#fc7257;font-size:px"></i>
                    统计排行
                </a>
            </li>
        </ul>
    </li>
    <li ng-show="sysMenu[1]=='check'">
        <div class="menu-title">日常登记</div>
        <ul class="menu-list">
            <li >
                <a href="#list1">
                    <i class="ALiconfont icon-menu1" style="background-color:#ff9c00;font-size:20px"></i>
                    大件物品出楼
                </a>
            </li>
            <li >
                <a href="#list">
                    <i class="ALiconfont icon-menu1" style="background-color:#fc7257;font-size:px"></i>
                    借钥匙
                </a>
            </li>
            <li >
                <a href="#list1">
                    <i class="ALiconfont icon-menu1" style="background-color:#02cf97;font-size:20px"></i>
                    晚归
                </a>
            </li>
            <li >
                <a href="#list1">
                    <i class="ALiconfont icon-menu1" style="background-color:#02cf97;font-size:20px"></i>
                    夜不归宿
                </a>
            </li>
        </ul>
    </li>
    
    <li ng-show="sysMenu[1]=='grade'">
        <div class="menu-title">考评设置</div>
        <ul class="menu-list">
            <li >
                <a href="#list1">
                    <i class="ALiconfont icon-menu1" style="background-color:#ff9c00;font-size:20px"></i>
                    计分条目设置
                </a>
            </li>
            <li >
                <a href="#list1">
                    <i class="ALiconfont icon-menu1" style="background-color:#ff9c00;font-size:20px"></i>
                    学期周数设置
                </a>
            </li>
        </ul>
    </li>
    <li ng-show="sysMenu[1]=='admin'">
        <div class="menu-title">账号管理</div>
        <ul class="menu-list">
            <li >
                <a href="#list1">
                    <i class="ALiconfont icon-menu1" style="background-color:#ff9c00;font-size:20px"></i>
                    账号设置
                </a>
            </li>
        </ul>
    </li>
    <li ng-show="sysMenu[1]=='role'">
        <div class="menu-title">角色管理</div>
        <ul class="menu-list">
            <li >
                <a href="#list1">
                    <i class="ALiconfont icon-menu1" style="background-color:#ff9c00;font-size:20px"></i>
                    角色设置
                </a>
            </li>
        </ul>
    </li>
    <li ng-show="sysMenu[1]=='data'">
        <div class="menu-title">基础设置</div>
        <ul class="menu-list">
            <li >
                <a href="#list1">
                    <i class="ALiconfont icon-menu1" style="background-color:#ff9c00;font-size:20px"></i>
                    学期周数设置
                </a>
            </li>
        </ul>
    </li>
    <li ng-show="sysMenu[1]=='college'">
        <div class="menu-title">学校信息</div>
        <ul class="menu-list">
            <li >
                <a href="#list1">
                    <i class="ALiconfont icon-menu1" style="background-color:#ff9c00;font-size:20px"></i>
                    学校信息设置
                </a>
            </li>
            <li >
                <a href="#list1">
                    <i class="ALiconfont icon-menu1" style="background-color:#ff9c00;font-size:20px"></i>
                    校区设置
                </a>
            </li>
            <li >
                <a href="#list1">
                    <i class="ALiconfont icon-menu1" style="background-color:#ff9c00;font-size:20px"></i>
                    学院设置
                </a>
            </li>
            <li >
                <a href="#list1">
                    <i class="ALiconfont icon-menu1" style="background-color:#ff9c00;font-size:20px"></i>
                    生活区设置
                </a>
            </li>
        </ul>
    </li>
    <li ng-show="sysMenu[1]=='matter'">
        <div class="menu-title">人事信息</div>
        <ul class="menu-list">
            <li >
                <a href="#list1">
                    <i class="ALiconfont icon-menu1" style="background-color:#ff9c00;font-size:20px"></i>
                    机构设置
                </a>
            </li>
            <li >
                <a href="#list1">
                    <i class="ALiconfont icon-menu1" style="background-color:#ff9c00;font-size:20px"></i>
                    人事信息设置
                </a>
            </li>
            <li >
                <a href="#list1">
                    <i class="ALiconfont icon-menu1" style="background-color:#ff9c00;font-size:20px"></i>
                    辅导员设置
                </a>
            </li>
        </ul>
    </li>
</ul>