<div class="history-container">
    <a class="return-btn" href="javascript:history.go(-1)">
        <i class="ALiconfont icon-sortleft"></i>
        返回
    </a>
    <ul class="history-list">
        <li><a href="#index" ng-click="routerInit('flat')">公寓管理</a></li>
        <li><a href="#index">登记管理</a></li>
        <li>晚归</li>
    </ul>
</div>
<div class="tool-bar">
    <div class="bar-full">
        <button class="btn btn-addon btn-success" ng-click="resetForm(dataInit)"><i class="glyphicon glyphicon-plus"></i>新增登记</button>
    </div>
    <div class="group-tool">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{media.search?'学号':'姓名'}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="min-width:66px">
                <li ng-click="media.search=0"><a>姓名</a></li>
                <li ng-click="media.search=1"><a>学号</a></li>
            </ul>
        </div>
    </div>
    <div class="search-bool">
        <form ng-submit="search(searchText)" class="input-group">
            <input type="text" class="form-control" ng-model="searchText" placeholder="检索">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
        </form>
    </div>
</div>
<div class="page-main">
    <div class="page-tree" tree>
        <ul>
            <li class="open">
                <a ng-class="{'branch':treeFlat.cmpusList,'leaf':!treeFlat.cmpusList}" ng-click="show(0,treeFlat)">{{treeFlat.title}}</a>
                <ul ng-show="treeFlat.cmpusList">
                    <li class="open" ng-repeat="campus in treeFlat.cmpusList||[]">
                        <a ng-class="{'branch':campus.liveAreaList,'leaf':!campus.liveAreaList}" ng-click="show(1,campus)">{{campus.title}}</a>
                        <ul ng-show="campus.liveAreaList">
                            <li class="open" ng-repeat="liveArea in campus.liveAreaList||[]">
                                <a ng-class="{'branch':liveArea.flatList,'leaf':!liveArea.flatList}" ng-click="show(2,liveArea)">{{liveArea.title}}</a>
                                <ul ng-show="liveArea.flatList">
                                    <li ng-repeat="flat in liveArea.flatList||[]">
                                        <a class="leaf" ng-click="show(3,flat)">{{flat.title}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="table-container" style="left:225px;bottom:54px;">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="sort" ng-class="{'sort-up':media.orderfield=='backLateTime' && media.ordertype=='asc','sort-down':media.orderfield=='backLateTime' && media.ordertype=='desc'}" ng-click="setOrder('backLateTime')">晚归时间</th>
                    <th class="sort" ng-class="{'sort-up':media.orderfield=='name' && media.ordertype=='asc','sort-down':media.orderfield=='name' && media.ordertype=='desc'}" ng-click="setOrder('name')">学生</th>
                    <th class="sort" ng-class="{'sort-up':media.orderfield=='roomPath' && media.ordertype=='asc','sort-down':media.orderfield=='roomPath' && media.ordertype=='desc'}" ng-click="setOrder('roomPath')">宿舍号</th>
                    <th>联系方式</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list">
                    <td>{{item.backLateTime}}</td><td>{{item.name + '（' + item.studentNumber + '）'}}</td><td>{{item.roomPath}}</td><td>{{item.phone}}</td>
                    <td>
                        <button type="button" class="btn btn-link btn-xs" ng-click="showCard('#lateEdit',detail(item))">编辑</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10" ng-hide="media.recordCount" class="empty">没有检索到相关登记纪录</td>
                </tr>
            </tfoot>
        </table>
        
    </div>
    <div class="page-controller" style="left:225px;">
        <div class="page-number">
            <ul class="pagination">
                <li ng-class="{disabled:media.epage<2}">
                    <a aria-label="Previous" ng-click="setPage(-1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-show="media.epage-2>0"><a ng-click="setPage(-2)">{{media.epage-2}}</a></li>
                <li ng-show="media.epage-1>0"><a ng-click="setPage(-1)">{{media.epage-1}}</a></li>
                <li class="active" ng-show="media.epage>0"><a>{{media.epage}}</a></li>
                <li ng-show="media.epage+1<=media.pageCount"><a ng-click="setPage(1)">{{media.epage+1}}</a></li>
                <li ng-show="media.epage+2<=media.pageCount"><a ng-click="setPage(2)">{{media.epage+2}}</a></li>
                <li ng-class="{disabled:media.epage>=media.pageCount}">
                    <a aria-label="Next" ng-click="setPage(1)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-size">
            共{{media.recordCount}}条记录，每页显示
            <div class="btn-group dropup">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{media.pagesize}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="min-width:54px">
                    <li ng-click="setPageSize(10)"><a>10</a></li>
                    <li ng-click="setPageSize(20)"><a>20</a></li>
                    <li ng-click="setPageSize(30)"><a>30</a></li>
                    <li ng-click="setPageSize(50)"><a>50</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="info-card fadeIn animated" info-card id="lateAdd">
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        晚归登记
                        <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                    </div>
                    <div class="panel-body">
                        <div class="form-tabs" form-tabs>
                            <ul class="form-tabs-nav" style="margin-left:200px;margin-right:200px;">
                                <li class="active">
                                    <div data-role="transfer" data-transfer="1">
                                        <div class="form-tabs-point"></div>
                                        学生登记
                                    </div>
                                </li>
                                <li class="tabs-nav">
                                    <div data-role="transfer" data-transfer="form.student">
                                        <div class="form-tabs-point"></div>
                                        晚归信息
                                    </div>
                                </li>
                            </ul>
                            <ul class="form-tabs-container">
                                <li class="fadeIn animated active">
                                    <form class="form-tabs-tool-bar" ng-submit="form.studentSearch()">
                                        <div>
                                            <select class="form-control" ng-change="selecter.campusSelecter()" ng-model="selecter.campusId">
                                                <option value="">选择校区</option>
                                                <option ng-repeat="campus in treeFlat.cmpusList" value="{{campus.campusId}}">{{campus.title}}</option>
                                            </select>
                                        </div>
                                        <div>
                                            <select class="form-control" ng-change="selecter.liveAreaSelecter()" ng-model="selecter.liveAreaId">
                                                <option value="">选择生活区</option>
                                                <option ng-repeat="liveArea in selecter.liveAreaList" value="{{liveArea.liveAreaId}}">{{liveArea.title}}</option>
                                            </select>
                                        </div>
                                        <div>
                                            <select class="form-control" ng-model="selecter.flatId">
                                                <option value="">选择楼栋</option>
                                                <option ng-repeat="flat in selecter.flatList" value="{{flat.flatId}}">{{flat.title}}</option>
                                            </select>
                                        </div>
                                        <div class="form-tabs-full">
                                            <input class="form-control" type="text" placeholder="姓名或学号" ng-model="form.studentName" />
                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-stroke btn-info">搜索</button>
                                        </div>
                                    </form>
                                    <table class="table table-bordered bg-white">
                                        <thead>
                                            <tr>
                                                <th>校区</th><th>生活区</th><th>楼栋</th><th>宿舍号</th><th>学生</th><th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="student in form.studentList || []">
                                                <td>{{student.campusName}}</td><td>{{student.liveAreaName}}</td><td>{{student.flatName}}</td><td>{{student.roomName}}</td>
                                                <td>{{student.name + '(' + student.studentNumber + ')'}}</td><td><a ng-click="form.studentChoose(student)" class="btn btn-xs btn-link" data-role="next">选择</a></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="10" ng-hide="form.studentList" class="start">搜索一下</td>
                                            </tr>
                                            <tr>
                                                <td colspan="10" ng-show="form.studentList && form.studentList.length < 1" class="empty">没有检索到相关学生</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </li>
                                <li class="fadeIn animated ">
                                    <table class="table-bordered bg-white table-form">
                                        <tbody>
                                            <tr>
                                                <td width="150">学生</td><td>{{form.student.name + '（' + form.student.studentNumber +'）'}}</td>
                                            </tr>
                                            <tr>
                                                <td width="150">寝室</td><td>{{form.student.campusName}} - {{form.student.liveAreaName}} - {{form.student.flatName}} - {{form.student.roomName}}</td>
                                            </tr>
                                            <tr>
                                                <td class="require">联系方式</td><td><input type="text" ng-model="form.phone" /></td>
                                            </tr>
                                            <tr>
                                                <td class="require">时间</td>
                                                <td>
                                                    <input datetimepicker type="text" ng-model="form.backlatetime" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>备注</td>
                                                <td><textarea class="form-control" rows="3" ng-model="form.memo"></textarea></td>
                                            </tr>
                                            <tr>
                                                <td></td><td class="td-btn-box"><a class="btn btn-success" ng-click="form.sub(closeCard('#lateAdd'))">完成登记</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="info-card fadeIn animated" info-card id="lateEdit">
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        晚归登记
                        <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                    </div>
                    <div class="panel-body">
                        <table class="table-form table-bordered bg-white">
                            <tbody>
                                <tr>
                                    <td>学生</td><td>{{work.name + '（'+work.studentNumber+'）'}}</td>
                                </tr>
                                <tr>
                                    <td>宿舍</td><td>{{work.roomPath}}</td>
                                </tr>
                                <tr>
                                    <td class="require">联系方式</td><td><input type="text" ng-model="work.phone" /></td>
                                </tr>
                                <tr>
                                    <td class="require">时间</td>
                                    <td>
                                        <input datetimepicker type="text" ng-model="work.backLateTime" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>备注</td>
                                    <td><textarea class="form-control" rows="3" ng-model="work.memo"></textarea></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="td-btn-box">
                                        <a class="btn btn-info" ng-click="editSave()">确认修改</a>
                                        <a class="btn btn-danger" ng-click="delete(closeCard('#lateEdit'))">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
